/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Template Globals:.........Styles for specific responsive templates

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements   

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

Lightbox..................3rd Party Lightbox CSS

Downsize..................Reduce font size for sections

*/



/* ------------------------------------
Structure
------------------------------------ */

/* ---- Header ---- */

  /* Header: Global Navbars */
  .navbar-header { padding-right: 9px; padding-left: 5px; margin-right: -15px; margin-left: -15px; background: #fff; }

  .navbar-brand { height:44px; padding:0px; }
  .navbar-brand .mw_logo { width:157px; height:32px; margin:6px 0px 0px 5px; }
  .navbar-brand .mlc_logo { width:245px; height:32px; margin:6px 0px 0px 5px; }

  .navbar-toggle { padding:0px; margin-top:2px; margin-right:4px; margin-bottom:2px; border:none; }
  .navbar-toggle { margin-right: 0; } /* Fix for 3 icons*/

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { background-color: #fff; border-radius: 0; }

  .navbar-toggle .icon-cog,
  .navbar-toggle .icon-contactus-menu,
  .navbar-toggle .icon-menu { font-size: 44px; color: #428bca; line-height: 0.86 !important; display: block !important; }
  .navbar-toggle .icon-cog:hover,
  .navbar-toggle .icon-contactus-menu:hover,
  .navbar-toggle .icon-menu:hover { color: #428bca; }

  .navbar-collapse li { font-size:14px; line-height: 1.00; }

  .navbar-nav { margin-top: 0; margin-bottom: 0; }

  .navbar-default #topnav { border-top: 1px solid #ccc; }

  .navbar-default #topnav.navbar-nav > li > a { padding: 11px 15px; font-weight: normal; }
  .navbar-default #topnav.navbar-nav > li > a,
  .navbar-default #topnav.navbar-nav > li > a:focus,
  .navbar-default #topnav.navbar-nav > li > a:visited { color: #3c3c3c; }
  .navbar-default #topnav.navbar-nav > li > a:hover { color: #3c3c3c; background: #e6ebef; }
  
  .navbar-default #topnav.navbar-nav > li.active > a,
  .navbar-default #topnav.navbar-nav > li.active > a:hover { border-radius: 0; color: #3c3c3c; background: #e6ebef; }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus { color: #3c3c3c; background: #e6ebef; }

  .navbar-default .navbar-nav > .open .dropdown-menu { padding: 0; border-top: 1px solid #ccc; }
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a { padding: 11px 15px 11px 25px; color: #3c3c3c; }
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:focus { color: #3c3c3c; background: #e6ebef; }

  #topnav_collapse { max-height: none; margin-right: -15px; margin-left: -15px; background: #fff; border-top: none; }
  #topnav_collapse li + li { border-top: 1px solid #ccc; }


  /* Header: Mobile Subnav */
  #mobile_subnav { background: #2f7eb2; }

  #mobile_subnav .navbar-collapse { max-height: none; border-top: 1px solid #fff; border-top: 1px solid rgba(255,255,255,0.5); }
  #mobile_subnav .navbar-collapse .subnav { margin-bottom: 0; }
  #mobile_subnav .navbar-collapse .subnav > li { color: #fff; }
  #mobile_subnav .navbar-collapse .subnav > li + li { border-top: 1px solid #fff; border-top: 1px solid rgba(255,255,255,0.5); }
  #mobile_subnav .navbar-collapse .subnav > li .caret { margin: 0 0 0 5px; }
  #mobile_subnav .navbar-collapse .subnav > li > a { padding: 11px 18px 11px 8px; }

  #mobile_subnav .navbar-collapse .subnav > li > a { color: #fff; }
  #mobile_subnav .navbar-collapse .subnav > li > a:hover,
  #mobile_subnav .navbar-collapse .subnav > li > a:focus,  
  #mobile_subnav .navbar-collapse .subnav > li > a:active { background: #235e85; background: rgba(0,0,0,0.2); color: #fff; }

  #mobile_subnav .navbar-collapse .open > a,
  #mobile_subnav .navbar-collapse .open > a:hover,
  #mobile_subnav .navbar-collapse .open > a:focus,
  #mobile_subnav .navbar-collapse .open > a:active { background: #235e85; background: rgba(0,0,0,0.2); color: #fff; }

  #mobile_subnav .navbar-collapse .dropdown-menu { padding-top: 0; padding-bottom: 0; border-top: 1px solid #fff; border-top: 1px solid rgba(255,255,255,0.5); background: #2f7eb2; }
  #mobile_subnav .navbar-collapse .dropdown-menu > li > a { padding: 11px 18px; white-space: normal;  }

  #mobile_subnav .navbar-collapse .dropdown-menu > li > a { color: #fff; }
  #mobile_subnav .navbar-collapse .dropdown-menu > li > a:hover,
  #mobile_subnav .navbar-collapse .dropdown-menu > li > a:focus,  
  #mobile_subnav .navbar-collapse .dropdown-menu > li > a:active { background: #235e85; background: rgba(0,0,0,0.2); color: #fff; }

  #mobile_subnav .navbar-collapse .dropdown-menu > .active > a,
  #mobile_subnav .navbar-collapse .dropdown-menu > .active > a:hover,
  #mobile_subnav .navbar-collapse .dropdown-menu > .active > a:focus { background: #235e85; background: rgba(0,0,0,0.2); color: #fff; }


/* ---- Section Header ----  */
.section_header_content { padding-right: 19px; }
#section_header_title:after { width: 0; height: auto; border-right: 1px solid #fff; border-right: 1px solid rgba(255,255,255,0.25); bottom: 0; content: ""; position: absolute; right: 0; top: 0; }

  /* Section Header: Search */
	.section_header .navbar-toggle { margin-top: 2px; float: right; position: absolute; right: 5px; }

    /* Section Header: Without Search Box */
    .section_header .col-xs-12 > .section_header_content { padding-right: 40px; }
    .section_header .col-xs-12 > .section_header_content .navbar-toggle { right: 19px; }    

  /* Affix */
    
    /* Account for Affixed Header --- padding-top : calc(Height of Affixed Banner + Top Padding on Element) */
    .sticky_header_container.affix + .full_banner_container { padding-top: calc(52px + 0px); }
    .sticky_header_container.affix + .body_lead_container { padding-top: calc(52px + 30px); }
    .sticky_header_container.affix + .cta_container_mobile { padding-top: calc(52px + 20px); }
    .sticky_header_container.affix + .content_container { padding-top: calc(52px + 20px); }

    .sticky_header_container.affix.includes_subnav + .full_banner_container { padding-top: calc(52px + 0px); }
    .sticky_header_container.affix.includes_subnav + .body_lead_container {padding-top: calc(52px + 30px); }
    .sticky_header_container.affix.includes_subnav + .content_container { padding-top: calc(52px + 20px); }    

    /* Anchors [ Calc: Height of Banner + 20px ] */
    .sticky_header_container.affix ~ .content_container .anchor { padding-top: 72px; margin-top: -72px; }
    .sticky_header_container.affix-top ~ .content_container .anchor { padding-top: 116px; margin-top: -116px; }

    .sticky_header_container.affix.includes_subnav ~ .content_container .anchor { padding-top: 72px; margin-top: -72px; }
    .sticky_header_container.affix-top.includes_subnav ~ .content_container .anchor  { padding-top: 116px; margin-top: -116px; }

/* ---- CTA ---- */

  /* CTA: CTA Box */
  .cta_box { padding: 0; background-color: transparent; box-shadow: none; }
  .cta_box ul>li { margin-bottom: 5px; }

  .cta_item a { padding: 8px 40px; border-radius: 3px; display: block; font-size: 16px; line-height: 1.00; }
  .cta_item a:hover { text-decoration:none; }

    /* CTA Box: Button Types */
    .cta_item_general a,
    .cta_item_general a:visited { border-color: #e5e5e5; background: #e5e5e5; color:#005fce; }
    .cta_item_general a:active,
    .cta_item_general a:focus,
    .cta_item_general a:hover { border-color: #d8d8d8; background: #d8d8d8; color:#005fce; }

    .cta_item_primary a,
    .cta_item_primary a:visited { border-color: #808080; background: #808080; color: #fff; }
    .cta_item_primary a:active,
    .cta_item_primary a:focus,
    .cta_item_primary a:hover { border-color: #999; background: #999; color: #fff; }

    .cta_item_secondary a,
    .cta_item_secondary a:visited { border-color: #0067b3; background: #0067b3; color: #fff; }
    .cta_item_secondary a:active,
    .cta_item_secondary a:focus,
    .cta_item_secondary a:hover { border-color: #2f7abf; background: #2f7abf; color: #fff; }

    .cta_item_tertiary a,
    .cta_item_tertiary a:visited { border-color: #3ab551; background: #3ab551; color: #fff; }
    .cta_item_tertiary a:active,
    .cta_item_tertiary a:focus,
    .cta_item_tertiary a:hover { border-color: #5fd362; background: #5fd362; color: #fff; }	

    .cta_item_quaternary a,
    .cta_item_quaternary a:visited { border-color: #eea600; background: #eea600; color: #fff; }
    .cta_item_quaternary a:active,
    .cta_item_quaternary a:focus,
    .cta_item_quaternary a:hover { border-color: #f1b51c; background: #f1b51c; color: #fff; }

    .cta_item_quinary a,
    .cta_item_quinary a:visited { border-color: #00ace8; background: #00ace8; color: #fff; }
    .cta_item_quinary a:active,
    .cta_item_quinary a:focus,
    .cta_item_quinary a:hover { border-color: #0184b2; background: #0184b2; color: #fff; }

    .cta_item_senary a,
    .cta_item_senary a:visited { border-color: #79dafc; background: #79dafc; color: #fff; }
    .cta_item_senary a:active,
    .cta_item_senary a:focus,
    .cta_item_senary a:hover { border-color: #68b9d6; background: #68b9d6; color: #fff; }

    .cta_item_septenary a,
    .cta_item_septenary a:visited { border-color: #07b38c; background: #07b38c; color: #fff; }
    .cta_item_septenary a:active,
    .cta_item_septenary a:focus,
    .cta_item_septenary a:hover { border-color: #038064; background: #038064; color: #fff; }		

    .cta_item_emphasize a,
    .cta_item_emphasize a:visited { border-color: #db5f23; background: #db5f23; color: #fff; }
    .cta_item_emphasize a:active,
    .cta_item_emphasize a:focus,
    .cta_item_emphasize a:hover { border-color: #ee6f32; background: #ee6f32; color: #fff; }

    /* CTA Box: Inline */
    .cta_box ul.list-inline > li { margin-bottom: 5px; display: block; }
    .cta_box ul.list-inline > li:last-child { margin-bottom: 0; }    


/* ---- Content ---- */

  /* ---- Search Results ---- */

    /* Search Results: Facets */
    #mobile_pagefacets { padding: 20px; }    











/* ------------------------------------
$ To Be Code Reviewed
------------------------------------ */
/* 
 All CSS changes/addtions/edits MUST be code reviewed before they can accepted as part of the site6 standards.

 Please add any working code below, and be sure to add you initials in the comments for your section.

 Once your work is complete, coordinate a code review with Ryan Johnson.  Code reviews should be scheduled before the end of Feature Freeze.
*/