/*
-----------------------------------
TOC
-----------------------------------

Windows Phone 8 Fix:......CSS to fix rendering in WP8

Fonts:....................Available font-family declarations

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Template Globals:.........Styles for specific responsive templates

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

Lightbox..................3rd Party Lightbox CSS

Downsize..................Reduce font size for sections
*/



/*-----------------------------------
   Windows Phone 8 Fix : http://getbootstrap.com/getting-started/#browsers
-------------------------------------*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



/* ------------------------------------
$ Fonts
------------------------------------ */
@font-face { font-family: 'mathworks'; font-style: normal; font-weight: normal;
	src:	url('/includes_content/responsive/fonts/mathworks.eot?5hi3p2');
	src:	url('/includes_content/responsive/fonts/mathworks.eot?#iefix5hi3p2') format('embedded-opentype'),
				url('/includes_content/responsive/fonts/mathworks.woff?5hi3p2') format('woff'),
				url('/includes_content/responsive/fonts/mathworks.ttf?5hi3p2') format('truetype'),
				url('/includes_content/responsive/fonts/mathworks.svg?5hi3p2#mathworks') format('svg');
}

@font-face { font-family: 'mathworks-eps'; font-style: normal; font-weight: normal;
	src:	url('/includes_content/responsive/fonts/mathworks-eps.eot?29yaua');
	src:	url('/includes_content/responsive/fonts/mathworks-eps.eot?#iefix29yaua') format('embedded-opentype'),
				url('/includes_content/responsive/fonts/mathworks-eps.woff?29yaua') format('woff'),
				url('/includes_content/responsive/fonts/mathworks-eps.ttf?29yaua') format('truetype'),
				url('/includes_content/responsive/fonts/mathworks-eps.svg?29yaua#mathworks-eps') format('svg');
}


/*
Light
font: normal 300 "futura-pt-n3","futura-pt";

Light Italic
font: italic 300 "futura-pt-i3","futura-pt";

Book
font: normal 400 "futura-pt-n4","futura-pt";

Book Italic
font: italic 400 "futura-pt-i4","futura-pt";

Medium
font: normal 500 "futura-pt-n5","futura-pt";

Medium Italic
font: italic 500 "futura-pt-i5","futura-pt";

Bold
font: normal 700 "futura-pt-n7","futura-pt";

Bold Italic
font: italic 700 "futura-pt-i7","futura-pt";

Extra Bold
font: normal 800 "futura-pt-n8","futura-pt";

Extra Bold Italic
font: italic 800 "futura-pt-i8","futura-pt";
*/



/* ------------------------------------
$ Bootstrap Overrides
------------------------------------ */
.sticky_header_container [class^="col-"] { min-height: 0; }



/* ------------------------------------
$ Template Globals
------------------------------------ */
#responsive_iframe { overflow: auto !important; background-color: #fff; }
#responsive_iframe .content_container { border-bottom: 0px; }
#responsive_iframe .container { width: 100%; }



/* ------------------------------------
$ Page Globals
------------------------------------ */
html { min-height: 100%; }
html body { height: 100%; padding: 0; margin: 0; background: #31373d; color: #595959; font: 15px/1.46 Arial, Helvetica, sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: antialiased; }

html body td { text-align: left; vertical-align: top; }

img { border: none }
.content_container img { width: auto; max-width: 100%; height: auto; }
img.fluid_image { width: 100%; max-width: none; height: auto; }


/* ---- Hierarchy ---- [ Additional Styles: SM,XS ] */
h1 { padding: 0; margin: 0 0 35px; color: #2c2c2c; font: normal 400 32px/1.19 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
h2 { padding: 0; margin: 0 0 15px; color: #2c2c2c; font: normal 400 28px/1.21 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
h3 { padding: 0; margin: 0 0 13px; color: #343434; font: normal 400 22px/1.18 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
h4 { padding: 0; margin: 0 0 18px; color: #343434; font: normal 500 18px/1.22 "futura-pt-n5","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
h5 { padding: 0; margin: 0 0 10px; color: #343434; font: normal 500 16px/1.19 "futura-pt-n5","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
h6 { padding: 0; margin: 0 0 10px; color: #3c3c3c; font: normal 15px/1.40 Arial,Helvetica,sans-serif; }

	/* Hierarchy: Classes -- [ Additional Styles: LG,MD,SM,XS ] */
	.h1 { padding: 0; margin: 0 0 35px; color: #2c2c2c; font: normal 400 32px/1.19 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
	.h2 { padding: 0; margin: 0 0 15px; color: #2c2c2c; font: normal 400 28px/1.21 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
	.h3 { padding: 0; margin: 0 0 13px; color: #343434; font: normal 400 22px/1.18 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
	.h4 { padding: 0; margin: 0 0 18px; color: #343434; font: normal 500 18px/1.22 "futura-pt-n5","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
	.h5 { padding: 0; margin: 0 0 10px; color: #343434; font: normal 500 16px/1.19 "futura-pt-n5","futura-pt",Arial,Helvetica,sans-serif; -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }
	.h6 { padding: 0; margin: 0 0 10px; color: #3c3c3c; font: normal 15px/1.40 Arial,Helvetica,sans-serif; }


	/* Hierarchy: Conditional Spacing */
	h1 + h2 { margin-top: -25px; margin-bottom: 35px; color: #595959; }
	h2 + h3 { margin-top: -5px; color: #595959; }

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6  { padding-top: 10px; }

	ul + h1,
	ul + h2,
	ul + h3,
	ul + h4,
	ul + h5,
	ul + h6  { padding-top: 10px; }

	ol + h1,
	ol + h2,
	ol + h3,
	ol + h4,
	ol + h5,
	ol + h6  { padding-top: 10px; }

	table + h1,
	table + h2,
	table + h3,
	table + h4,
	table + h5,
	table + h6  { padding-top: 10px; }

	/* Hierarchy: Styles */
	h2.tagline { font-size: 13px; font-style: italic; line-height: 1.33; } 


/* ---- Links ---- */
a { color: #0067b3; text-decoration: none; }
a:visited { color: #005695; text-decoration: none; }
a:hover { color: #007dd9; text-decoration: underline; }

a:focus,
a:active { outline: none }

	/* Links: SVGs with Links */
	a.svg_link { display: inline-block; position: relative; }
	a.svg_link:after { bottom: 0; content: ""; left: 0; position: absolute; right: 0; top: 0; }


/* ---- Lists ----- */

	/* Lists: Unordered */
	ul { padding: 0; margin: 0 0 18px 0; list-style: none; }
	ul > li { padding: 0 0 0 20px; margin: 0 0 7px; background: none; list-style-type: none; }
	
	.content_container ul > li:before, 
	.modal-body ul > li:before, 
	.body_lead_container ul > li:before, 
	.full_banner_container ul > li:before, 
	.body_trail_container ul > li:before { min-width: 20px; margin-left: -20px; content: "•"; display: inline-block; float: left; }
	li > ul { padding-top: 5px; }

	.content_container ul:not(.list-unstyled) ul:not(.list-unstyled) > li:before { content: "˗"; }	

	/* Lists: Ordered */
	ol { padding-left: 0; margin-bottom: 18px; margin-left: 24px; }
	ol > li { padding-left: 0; margin-bottom: 7px; }

	/* Lists: Unstyled (Unbulleted) */
	ul.list-unstyled { margin-left: 0; }
	ul.list-unstyled > li { padding-left: 0; }
	ul.list-unstyled > li:before { min-width: 0; margin-left: 0; content: none; display: inline; }

	/* Lists: Dropdown Menu */
	ul.dropdown-menu > li:before { min-width: 0; margin-left: 0; content: none; display: inline; }
	ul.dropdown-menu > li { padding-left: 0; margin-bottom: 0; }

	/* Lists: Inline */
	.list-inline > li { margin-bottom: 0; }
	ul.list-inline > li:before { min-width: 0; margin-left: 0; content: none; display: inline; }

	/* Lists: InPage Nav */ 
	.list_pagenav li { padding-bottom: 6px; margin-bottom: 5px; border-bottom: 1px dotted #cbcbcb; }
	.list_pagenav li.active { color: #52575e; }
	.list_pagenav li a { display: block; }
	.list_pagenav li a:hover { text-decoration: none; }


/* ---- Paragraph ---- */
p { padding: 0; margin: 0 0 18px; }

	/* Paragraph: Lead */
	.lead { font-size: 17px; line-height: 1.59; }


/* ---- Accordion ---- */
.accordion .panel-title { cursor: pointer; }	

.accordion .panel-title .icon-arrow-open-up,
.accordion .panel-title .icon-arrow-open-down { float: right } 

.accordion .panel-title .icon-arrow-open-up { display: inline-block; }
.accordion .panel-title .icon-arrow-open-down { display: none; }

.accordion .panel-title.collapsed .icon-arrow-open-up { display: none; }
.accordion .panel-title.collapsed .icon-arrow-open-down { display: inline-block; }


/* ---- Blockquote ---- */
blockquote { color: #6e6d6d; font: normal 400 17.5px/1.46 "futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif; }


/* ---- Breadcrumbs ---- */
.breadcrumb { padding: 8px 0; margin-left: 0; background-color: transparent; }


/* ---- Buttons ---- */
.btn { padding: 8px 20px; border-radius: 3px; font-size: 16px; line-height: 1.00; white-space: normal; }
.btn-block { padding-right: 0; padding-left: 0; }
.btn:visited  { color: #000; }

	/* Buttons: Sizes */
	.btn-xs,
	.btn-group-xs > .btn{ padding: 0 13px; font-size: 12px; line-height: 1.50; }

	.btn-sm,
	.btn-group-sm > .btn{ padding: 4px 18px; font-size: 12px; line-height: 1.50; }

	.btn-lg,
	.btn-group-lg > .btn{ padding: 10px 24px; font-size: 18px; line-height: 1.50; }

	/* Buttons: Types */
	.btn-default:active,
	.btn-default:focus,
	.btn-default:hover,
	.btn-default.active,
	.open .dropdown-toggle.btn-default { background-color: #e5e5e5; color: #3c3c3c; }

	.btn_general,
	.btn_general:visited { border-color: #e5e5e5; background: #e5e5e5; color:#005fce !important; }
	.btn_general:active,
	.btn_general:focus,
	.btn_general:hover { border-color: #d8d8d8; background: #d8d8d8; color:#005fce; }
	
	.btn_primary,
	.btn_primary:visited { border-color: #808080; background: #808080; color: #fff !important; }
	.btn_primary:active,
	.btn_primary:focus,
	.btn_primary:hover { border-color: #999; background: #999; color: #fff; }

	.btn_secondary,
	.btn_secondary:visited { border-color: #0067b3; background: #0067b3; color: #fff !important; }
	.btn_secondary:active,
	.btn_secondary:focus,
	.btn_secondary:hover { border-color: #2f7abf; background: #2f7abf; color: #fff; }

	.btn_tertiary,
	.btn_tertiary:visited { border-color: #3ab551; background: #3ab551; color: #fff !important; }
	.btn_tertiary:active,
	.btn_tertiary:focus,
	.btn_tertiary:hover { border-color: #5fd362; background: #5fd362; color: #fff; }	
	
	.btn_quaternary,
	.btn_quaternary:visited { border-color: #eea600; background: #eea600; color: #fff !important; }
	.btn_quaternary:active,
	.btn_quaternary:focus,
	.btn_quaternary:hover { border-color: #f1b51c; background: #f1b51c; color: #fff; }
	
	.btn_quinary,
	.btn_quinary:visited { border-color: #00ace8; background: #00ace8; color: #fff !important; }
	.btn_quinary:active,
	.btn_quinary:focus,
	.btn_quinary:hover { border-color: #0184b2; background: #0184b2; color: #fff; }
	
	.btn_senary,
	.btn_senary:visited { border-color: #79dafc; background: #79dafc; color: #fff !important; }
	.btn_senary:active,
	.btn_senary:focus,
	.btn_senary:hover { border-color: #68b9d6; background: #68b9d6; color: #fff; }
	
	.btn_septenary,
	.btn_septenary:visited { border-color: #07b38c; background: #07b38c; color: #fff !important; }
	.btn_septenary:active,
	.btn_septenary:focus,
	.btn_septenary:hover { border-color: #038064; background: #038064; color: #fff; }

	.btn_emphasize,
	.btn_emphasize:visited { border-color: #db5f23; background: #db5f23; color: #fff !important; }
	.btn_emphasize:active,
	.btn_emphasize:focus,
	.btn_emphasize:hover { border-color: #ee6f32; background: #ee6f32; color: #fff; }

	.btn_search { padding-left: 8px; padding-right: 8px; border-radius: 0; }

	/* Button: Dropdowns */ 
	button.dropdown-toggle { padding: 8px 8px 8px 16px; text-align: left; }
	button.dropdown-toggle.btn-block + ul.dropdown-menu { width: 100%; }
	button.dropdown-toggle + ul.dropdown-menu { max-height: 336px; overflow-x: hidden; overflow-y: auto; }
	button.dropdown-toggle + ul.dropdown-menu > li.dropdown-header { padding: 3px 15px; color: #000; font-size: 14px; font-weight: bold; }
	button.dropdown-toggle + ul.dropdown-menu.add_dropdown_wrap > li > a { white-space: normal; }	


/* ---- Captions ---- */
.caption,
.video-caption,
.thumbnail .caption { color: #6e6d6d; font-size: 14px; line-height: 1.46; }


/* ---- Carousel [ Additional Styles: Full Banner ] ---- */
.carousel { margin-bottom: 30px; }

.carousel-inner > .item { min-height: 280px; padding: 40px 20px; background-position: center center; background-repeat: no-repeat; background-size: cover;  }
.carousel-control.left + .carousel-control.right + .carousel-inner > .item { padding:40px 50px; }

	/* Carousel: Caption */
	.carousel-inner > .item .carousel-caption { padding: 0; margin: 0; color: #fff; left:20px; right:20px; text-align: left; text-shadow: none; }
	.carousel-control.left + .carousel-control.right + .carousel-inner > .item .carousel-caption { right:50px; left:50px; }

		/* Caption: Hierarchy -- [ Additional Styles: XS ] */
		.carousel-caption h1,
		.carousel-caption .h1,
		.carousel-caption h2,
		.carousel-caption .h2,
		.carousel-caption h3,
		.carousel-caption .h3 { font-weight: 500; }
		
		.carousel-caption h1 + h2,
		.carousel-caption h2 + h3,
		.carousel-caption h3 + h4,
		.carousel-caption .h1 + h2 { margin-bottom: 15px; font-weight: 400; }

		/* Caption: Optional Colors */
		.carousel-caption.add_font_color_null * { color: #fff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
		.carousel-caption.add_font_color_general * { color: #666; }
		.carousel-caption.add_font_color_primary * { color: #3c3c3c; }
		.carousel-caption.add_font_color_secondary * { color: #205592; }
		.carousel-caption.add_font_color_tertiary * { color: #009915; }
		.carousel-caption.add_font_color_quaternary * { color: #eea600; }
		.carousel-caption.add_font_color_quinary * { color: #00ace8; }
		.carousel-caption.add_font_color_senary * { color: #79dafc; }
		.carousel-caption.add_font_color_septenary * { color: #07b38c; }
		.carousel-caption.add_font_color_emphasize * { color: #C45400; }

		/* Caption: Video Data */ 
		.carousel-caption.add_font_color_null .video_count,
		.carousel-caption.add_font_color_null .video_length { color: #b4b4b4; }
		
		.carousel-caption.add_font_color_general .video_count,
		.carousel-caption.add_font_color_general .video_length { color: #888; }

		.carousel-caption.add_font_color_primary .video_count,
		.carousel-caption.add_font_color_primary .video_length { color: #666; }

		.carousel-caption.add_font_color_null .video_length::before,
		.carousel-caption.add_font_color_general .video_length::before,
		.carousel-caption.add_font_color_primary .video_length::before {content: "(";}
	
		.carousel-caption.add_font_color_null .video_length::after,
		.carousel-caption.add_font_color_general .video_length::after,
		.carousel-caption.add_font_color_primary .video_length::after {content: ")";}

	/* Carousel: Control */
	.carousel-control { width: 50px; color: #fff; z-index: 10; }

	.carousel-control:hover,
	.carousel-control:focus,
	.carousel-control:active { color: #fff; }

	.carousel-control.left,
	.carousel-control.right,
	.carousel-control.left:hover,
	.carousel-control.right:hover { background: transparent none; filter: none; }

	.carousel-control [class^="icon-"] { position: absolute; top: calc(50% - 25px); }
	.carousel-control.left [class^="icon-"] { left: 0; }
	.carousel-control.right [class^="icon-"] { right: 0; }

	@media only screen and (max-width: 767px) {
		.carousel-control [class^="icon-"] { margin-top: 0; top: 0; }
	}

	/* Carousel: Indicators */
	.carousel-indicators { width: auto; margin-left: 0; bottom: auto; left: auto; right: 10px; text-align: right; top: 10px; }

	@media only screen and (max-width: 767px) {
		.carousel-control.left + .carousel-control.right + .carousel-inner + .carousel-indicators { display:none; }
	}

	/* Carousel: Transitions & Timing */
	/*
	.carousel-inner>.item { left: 0; -webkit-transition: opacity 2s ease-in-out; transition: opacity 2s ease-in-out; }
	.carousel-inner>.active.left,
	.carousel-inner>.active.right { left: 0; opacity: 0; z-index: 2; }
	.carousel-inner>.next.left,
	.carousel-inner>.prev.right { opacity: 1; z-index: 1; }
	.carousel-control { z-index: 3; }  
	*/


/* ---- Code ---- */
/* Note: Any changes to <code> or <pre> will negatively impact Doc. Contact Ryan Johnson before making a change */
code { background-color: #f5f5f5; color: inherit; }

pre { margin: 0 0 21px; padding: 9.5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f5f5f5; color: #333; display: block; font-size: 13px; line-height: 1.47; word-break: break-all; word-wrap: break-word; }

	/* Code: Coloring */
	pre span.comment { color:#228b22; }
	pre span.keyword { color:#0000ff; }
	pre span.string { color:#a020f0; }
	pre span.syscmd { color:#b28c00; }
	pre span.untermstring { color:#b20000; }


/* ---- CTA ---- */

	/* CTA: CTA Box -- [ Additional Styles: XS ] */
	.cta_box { width: 100%; padding: 10px; border-radius: 3px; background-color: #e9eff6; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
	.cta_box ul { margin-bottom: 0; }
	.cta_box li:last-of-type { margin-bottom: 0; }

	/* CTA: CTA Box in Horizontal Nav Container */
	.horizontal_nav_container .cta_box { padding: 20px 0 0; background-color: transparent; box-shadow: none; font-size: 13px; }	
	.horizontal_nav_container .cta_box ul { float: right; text-align: right; }
	.horizontal_nav_container .cta_box ul > li { padding-right: 0; font-size: 13px; line-height: 1.23; }
	.horizontal_nav_container .cta_box ul > li + li { margin-left: 10px;}
	.horizontal_nav_container .cta_box ul > li > a,
	.horizontal_nav_container .cta_box ul > li > a:visited { color: #428bca; }
	.horizontal_nav_container .cta_box ul > li > a:hover { color: #52575e; text-decoration: none; }


/* ---- Definition List [Bootstrap Override] ---- */ 
.dl-horizontal dt { width:100px; margin-bottom:10px; text-align: left; }
.dl-horizontal dd { margin-left: 120px; margin-bottom:10px; }


/* ---- Expand Collapse ---- */
.expand_collapse .expand_trigger { margin: 0; padding: 18px 0 14px 40px; cursor: pointer; }
.expand_collapse span.icon-arrow-open-down { margin: 0 0 0 -40px; display: inline-block !important; float: left; }
.expand_collapse span.icon-arrow-open-right { display: none !important; }

.expand_collapse .collapse { overflow: hidden; }

.expand_collapse .collapsed span.icon-arrow-open-down { display: none !important; }
.expand_collapse .collapsed span.icon-arrow-open-right { margin: 0 0 0 -40px; display: inline-block !important; float: left; }


/* ---- Forms ---- */

	/* Form: Alerts */
	.alert { padding: 13px 8px 13px 42px; border: none; border-radius: 0; }
	.alert h3 { font: normal bold 15px/1.11 Arial, Helvetica, sans-serif; }
	.alert .alert_icon { margin: -5px 0 0 -34px; font-size: 24px !important; float: left; line-height: 1.00; }

	.alert > *:last-child,
	.alert > *:last-child > *:last-child,
	.alert > *:last-child > *:last-child > *:last-child { margin-bottom: 0; }

	.alert-danger { background: #f9eae9; color: #b72126; }
	.alert-danger h3 { color: #b72126; }
	.alert-danger .alert_icon { color: #cc3729; }

	.alert-info { background: #e2f1fa; color: #327ca5; }
	.alert-info h3 { color: #327ca5; }
	.alert-info .alert_icon { color: #45a5e5; }	

	.alert-success { background: #eef6e9; color: #009915; }
	.alert-success h3 { color: #009915; }
	.alert-success .alert_icon { color: #5bad28; }

	.alert-warning { background: #fef5d8; color: #e8941a; }
	.alert-warning h3 { color: #e8941a; }
	.alert-warning .alert_icon { color: #ffc300; }

	/* Form: Eloqua */ 
	#Mathworks_Form .input-group .input-group-btn button { padding: 6px 12px; font-size: 14px; line-height: 1.43; white-space: nowrap; }
	#Mathworks_Form .input-group .input-group-btn button .icon_16 { font-size: 15px; }

	#allForm #Mathworks_Form .radio_group .radio input[type=radio],
	#allForm #Mathworks_Form .check_group .checkbox input[type=checkbox] { margin-left: 0; }

	/* Form: Validation */
		/* Validation: Success */
		.has-success .form-control { border-color: #009915;	}
		.has-success .form-control-feedback { color: #5bad28; }

		.has-success .checkbox,
		.has-success .checkbox-inline,
		.has-success .control-label,
		.has-success .help-block,
		.has-success .radio,
		.has-success .radio-inline,
		.has-success.checkbox label,
		.has-success.checkbox-inline label,
		.has-success.radio label,
		.has-success.radio-inline label { color: #009915; }	

		/* Validation: Error */
		.has-error .form-control { border-color: #b72126;	}
		.has-error .form-control-feedback { color: #cc3729; }
		
		.has-error .checkbox,
		.has-error .checkbox-inline,
		.has-error .control-label,
		.has-error .help-block,
		.has-error .radio,
		.has-error .radio-inline,
		.has-error.checkbox label,
		.has-error.checkbox-inline label,
		.has-error.radio label,
		.has-error.radio-inline label { color: #b72126; }


/* ---- Go To Top ---- */ 
#go-top { bottom: 10px;	display: none; position: fixed; right: 10px; }
#responsive_iframe #go-top { display: none !important; }


/* ---- Horizontal Rule ---- */
hr { margin-top: 30px; margin-bottom: 30px; border-color: #e1e1e1; }

	/* ---- Horizontal Rule: Thickness Options ---- */	
	hr.add_thickness_3 { border-top-width: 3px; }
	hr.add_thickness_5 { border-top-width: 5px; }
	hr.add_thickness_7 { border-top-width: 7px; }


/* ---- Images ---- */

	/* Images: Flowable */
	.flowable_image { margin: 10px; }
	.flowable_image.pull-right { margin: 0 0 10px 10px; }
	.flowable_image.pull-left { margin: 0 10px 10px 0; }


/* ---- Media ---- */ 
.media { margin-bottom: 20px; }
.media img { max-width: none; }	

.media-right, 
.media > .pull-right { padding-left: 15px; }

.media-left, 
.media > .pull-left { padding-right: 15px; }

.media-bottom { padding-bottom: 15px; }


/* ---- Opacity Containers [ Additional Styles: Full Banner ] ---- */ 
.opacity_container { padding: 10px 15px 5px; margin-left: -20px; margin-right: -20px; background-color: rgba(228, 228, 228, 0.8); }
.opacity_container.opacity_dark,
.opacity_container.opacity_dark_8 { background-color: rgba(0, 0, 0, 0.8); }
.opacity_container.opacity_dark_6  { background-color: rgba(0, 0, 0, 0.6); }
.opacity_container.opacity_dark_4  { background-color: rgba(0, 0, 0, 0.4); }
.opacity_container.opacity_dark_2  { background-color: rgba(0, 0, 0, 0.2); }

.opacity_container.opacity_light,
.opacity_container.opacity_light_8  { background-color: rgba(255, 255, 255, 0.8); }
.opacity_container.opacity_light_6  { background-color: rgba(255, 255, 255, 0.6); }
.opacity_container.opacity_light_4  { background-color: rgba(255, 255, 255, 0.4); }
.opacity_container.opacity_light_2  { background-color: rgba(255, 255, 255, 0.2); }


/* ---- Panels ---- */

	/* Panel: Globals */
	.panel { margin-bottom: 30px; border-radius: 0; box-shadow: none;}
	.panel.panel-default { border-color: #ccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
	
	.panel-heading { border-bottom: none; border-top-right-radius: 0; border-top-left-radius: 0; background-position: left top; background-repeat: no-repeat; position: relative; }
	.panel-heading * { margin-bottom: 0; }
	.panel-heading h2 { font-size: 24px; line-height: 1.13; }	
	.panel_heading_align_bottom { bottom: 10px; position: absolute; } 
		
	.panel .panel-heading[style^="background-"],
	.panel .panel-footer[style^="background-"] { min-height: 50px; }

	.panel_image_cover .panel-heading,
	.panel_image_cover .panel-footer { background-size: cover; }

	.panel-body { overflow-y: auto; }

	.panel-body > *:last-child,
	.panel-body > *:last-child > *:last-child,
	.panel-body > *:last-child > *:last-child > *:last-child { margin-bottom: 0; }

	.panel-footer { border-bottom: none; border-top: 0px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; background-color: #fff; background-position: top left; background-repeat: no-repeat; }
	.panel-footer:empty { min-height: 36px; }

		/* Panel Global: Header Background Colors */
		.panel_color_general .panel-heading { background-color: #f5f5f5; }

		.panel_color_primary .panel-heading { background-color: #666; border-bottom-color: #666; }
		.panel_color_primary .panel-heading * { color: #fff; }

		.panel_color_secondary .panel-heading { background-color: #005695; border-bottom-color: #005695; }
		.panel_color_secondary .panel-heading * { color: #fff; }

		.panel_color_quaternary .panel-heading { background-color: #e8941a; border-bottom-color: #e8941a; }
		.panel_color_quaternary .panel-heading * { color: #fff; }
		
		.panel_color_quinary .panel-heading { background-color: #14a0d1; border-bottom-color: #14a0d1; }
		.panel_color_quinary .panel-heading * { color: #fff; }
		
		.panel_color_senary .panel-heading { background-color: #81cfea; border-bottom-color: #81cfea; }
		.panel_color_senary .panel-heading * { color: #fff; }
		
		.panel_color_septenary .panel-heading { background-color: #129c7d; border-bottom-color: #129c7d; }
		.panel_color_septenary .panel-heading * { color: #fff; }

		.panel_color_tertiary .panel-heading { background-color: #009915; border-bottom-color: #009915; }
		.panel_color_tertiary .panel-heading * { color: #fff; }

		.panel_color_emphasize .panel-heading { background-color: #c54b25; border-bottom-color: #c54b25; }
		.panel_color_emphasize .panel-heading * { color: #fff; }

		/* Panel Global: Footer Overlay Options */ 
		.panel.panel_footer_overlay { position: relative; }
		.panel.panel_footer_overlay .panel-footer { background-color: rgba(228, 228, 228, 0.8); bottom: 0; left: 0; position: absolute; right: 0; }

		.panel.panel_footer_overlay.opacity_dark .panel-footer,
		.panel.panel_footer_overlay.opacity_dark_8 .panel-footer { background-color: rgba(0, 0, 0, 0.8); }
		.panel.panel_footer_overlay.opacity_dark_6 .panel-footer { background-color: rgba(0, 0, 0, 0.6); }
		.panel.panel_footer_overlay.opacity_dark_4 .panel-footer { background-color: rgba(0, 0, 0, 0.4); }
		.panel.panel_footer_overlay.opacity_dark_2 .panel-footer { background-color: rgba(0, 0, 0, 0.2); }
		.panel.panel_footer_overlay.opacity_light .panel-footer,
		.panel.panel_footer_overlay.opacity_light_8 .panel-footer { background-color: rgba(255, 255, 255, 0.8); }
		.panel.panel_footer_overlay.opacity_light_6 .panel-footer { background-color: rgba(255, 255, 255, 0.6); }
		.panel.panel_footer_overlay.opacity_light_4 .panel-footer { background-color: rgba(255, 255, 255, 0.4); }
		.panel.panel_footer_overlay.opacity_light_2 .panel-footer { background-color: rgba(255, 255, 255, 0.2); }

	/* Panel - Types */

		/* Panel Types: Ad Image */ 
		.panel.panel_image_right { background-position: right center; background-repeat: no-repeat; background-size: contain; }
		.panel.panel_image_right_cover { background-position: right center; background-repeat: no-repeat; background-size: cover; }
	
		/* Panel Types: Color Filled Background */
		.panel_fill_override_default { background-color: #f5f5f5; } 

		.panel_color_fill.panel_color_default { background-color: #f5f5f5; }
		.panel_color_fill.panel_color_primary { background-color: #666; }
		.panel_color_fill.panel_color_secondary { background-color: #005695; }
		.panel_color_fill.panel_color_tertiary { background-color: #009915; }
		.panel_color_fill.panel_color_quaternary { background-color: #e8941a; }
		.panel_color_fill.panel_color_quinary { background-color: #14a0d1; }
		.panel_color_fill.panel_color_senary { background-color: #81cfea; }
		.panel_color_fill.panel_color_septenary { background-color: #129c7d; }
		.panel_color_fill.panel_color_emphasize { background-color: #c54b25; }
		.panel_color_fill.panel_color_transparent { background-color: transparent; }
		
		.panel_color_fill.panel_color_primary *,
		.panel_color_fill.panel_color_secondary *,
		.panel_color_fill.panel_color_tertiary *,
		.panel_color_fill.panel_color_quaternary *, 
		.panel_color_fill.panel_color_quinary *, 
		.panel_color_fill.panel_color_senary *, 
		.panel_color_fill.panel_color_septenary *, 
		.panel_color_fill.panel_color_emphasize * { color: #fff; }

			/* Color Filled Background: Links */ 
			.panel_color_fill * a { text-decoration: underline; }
			.panel_color_fill h1 a,
			.panel_color_fill h2 a,
			.panel_color_fill h3 a,
			.panel_color_fill h4 a,
			.panel_color_fill h5 a,
			.panel_color_fill h6 a { text-decoration: none; }
			.panel_color_fill a:hover { text-decoration: underline; }

			.panel_color_transparent * a { text-decoration:none; }

			.panel_color_white * a { text-decoration:none; }

			.panel_color_default * a { text-decoration: none; }
			.panel_color_default * a:hover { text-decoration: underline; }

			.panel_color_fill a.btn { text-decoration: none !important; }

		/* Panel Types: Downsize */
		.panel_font_downsize { font-size: 86%; }

		.panel_font_downsize h1,
		.panel_font_downsize .h1 { font-size: 28px; }
		.panel_font_downsize h2,
		.panel_font_downsize .h2 { font-size: 24px; }
		.panel_font_downsize h3,
		.panel_font_downsize .h3 { font-size: 19px; }
		.panel_font_downsize h4,
		.panel_font_downsize .h4 { font-size: 17px; }	
		.panel_font_downsize h5,
		.panel_font_downsize .h5 { font-size: 16px; }
		.panel_font_downsize h6,
		.panel_font_downsize .h6 { font-size: 13px; }

		.panel_font_downsize .panel-body h1,
		.panel_font_downsize .panel-body .h1 { margin-bottom: 30px; }
		.panel_font_downsize .panel-body h2,
		.panel_font_downsize .panel-body .h2 { margin-bottom: 13px; }
		.panel_font_downsize .panel-body h3,
		.panel_font_downsize .panel-body .h3 { margin-bottom: 11px; }
		.panel_font_downsize .panel-body h4,
		.panel_font_downsize .panel-body .h4 { margin-bottom: 10px; }
		.panel_font_downsize .panel-body h5,
		.panel_font_downsize .panel-body .h5 { margin-bottom: 9px; }
		.panel_font_downsize .panel-body h6,
		.panel_font_downsize .panel-body .h6 { margin-bottom: 9px; }

		.panel_font_downsize ul > li,
		.panel_font_downsize ol > li { margin-bottom: 6px; }

		.panel_font_downsize a[class*="icon-"]:before { font-size: 16px; line-height: 1.00; }

		/* 	Panel Types: Icon */
		.panel_icon_16 .panel-body { padding-left: 32px; }
		.panel_icon_24 .panel-body { padding-left: 48px; }
		.panel_icon_32 .panel-body { padding-left: 64px; }
		.panel_icon_48 .panel-body { padding-left: 96px; }
		.panel_icon_56 .panel-body { padding-left: 112px; }	

		.panel_icon_16 .panel-body .icon_16 { margin-top: 3px; margin-left: -17px; float: left; }
		.panel_icon_24 .panel-body .icon_24 { margin-left: -33px; float: left; }
		.panel_icon_32 .panel-body .icon_32 { margin-left: -49px; float: left; }
		.panel_icon_48 .panel-body .icon_48 { margin-left: -81px; float: left; }
		.panel_icon_56 .panel-body .icon_56 { margin-left: -97px; float: left; }	

		/* Panel Types: Sidebar */
		.panel_sidebar .panel-body { border-right: 20px solid #f5f5f5; }
		.panel_sidebar.panel_color_primary .panel-body { border-right-color: #666; }
		.panel_sidebar.panel_color_secondary .panel-body { border-right-color: #005695; }
		.panel_sidebar.panel_color_tertiary .panel-body { border-right-color: #009915; }
		.panel_sidebar.panel_color_quaternary .panel-body { border-right-color: #e8941a; }
		.panel_sidebar.panel_color_quinary .panel-body { border-right-color: #14a0d1; }
		.panel_sidebar.panel_color_senary .panel-body { border-right-color: #81cfea; }
		.panel_sidebar.panel_color_septenary .panel-body { border-right-color: #129c7d; }	
		.panel_sidebar.panel_color_emphasize .panel-body { border-right-color: #c54b25; }	
		
		.panel_sidebar_left .panel-body { border-left: 20px solid #f5f5f5; }
		.panel_sidebar_left.panel_color_primary .panel-body { border-left-color: #686868; }
		.panel_sidebar_left.panel_color_secondary .panel-body { border-left-color: #005695; }
		.panel_sidebar_left.panel_color_tertiary .panel-body { border-left-color: #009915; }
		.panel_sidebar_left.panel_color_quaternary .panel-body { border-left-color: #e8941a; }
		.panel_sidebar_left.panel_color_quinary .panel-body { border-left-color: #14a0d1; }
		.panel_sidebar_left.panel_color_senary .panel-body { border-left-color: #81cfea; }
		.panel_sidebar_left.panel_color_septenary .panel-body { border-left-color: #129c7d; }
		.panel_sidebar_left.panel_color_emphasize .panel-body { border-left-color: #c54b25; }
	
		/* Panel Types: Topbar */
		.panel_topbar .panel-body { border-top: 5px solid #f5f5f5; }
		.panel_topbar.panel_color_primary .panel-body { border-top-color: #686868; }
		.panel_topbar.panel_color_secondary .panel-body { border-top-color: #005695; }
		.panel_topbar.panel_color_tertiary .panel-body { border-top-color: #009915; }
		.panel_topbar.panel_color_quaternary .panel-body { border-top-color: #e8941a; }
		.panel_topbar.panel_color_quinary .panel-body { border-top-color: #14a0d1; }
		.panel_topbar.panel_color_senary .panel-body { border-top-color: #81cfea; }
		.panel_topbar.panel_color_septenary .panel-body { border-top-color: #129c7d; }
		.panel_topbar.panel_color_emphasize .panel-body { border-top-color: #c54b25; }


/* ---- Pictograms ---- */

	/* Pictograms: Sizes */
	.pictogram_56 { width: 56px; height: auto; }
	.pictogram_64 { width: 64px; height: auto; }
	.pictogram_72 { width: 72px; height: auto; }
	.pictogram_100 { width: 100px; height: auto; }


/* ---- Popovers ---- */	
.popover { font-size: 13px; }


/*---- Rating ----*/ 
.rating_container { white-space: nowrap; }
.rating_container p { display: inline-block; font-size: 22px; }

.rating_scale { display: inline-block; }

	/* Rating Stars: Gray */
	.rate_input,
	.rating_scale { color: #eaeaea; display: inline-block; font: 15px/1.75 'mathworks'; position: relative; }
	.rating:before { content: '\e677 \e677 \e677 \e677 \e677'; }

	/* Rating Stars: Yellow */
	.rated { color: #eec52a; overflow: hidden; position: absolute; left: 0; top: 0; white-space: nowrap; }
	.rated:before { content: '\e677 \e677 \e677 \e677 \e677'; }

	/* Rating: Ranking */
	.ranking { font-size: 13px; }
	.ranking .list-inline li + li { border-left: 1px solid #595959; }

	/* Rating: Input */
	.rating_container .radio_group_label { margin-bottom: 0; display: inline-block; font-size: 15px; line-height: 1.75; vertical-align: top; }
	.rating_container .control-label.radio_group_label { padding-top: 0; font-weight: bold; }

		/* Rating Input: Radio Buttons */
		.rate_input:not(:checked) > input { width: 1px; height: 1px; padding: 0; border: 0; margin: -1px; clip: rect(0 0 0 0); overflow: hidden; position: absolute; }

		.rate_input:not(:checked) > label { width: 1.175em; padding: 0 0.0625em 0; margin-bottom: 0; margin-right: 0.0625em; float: right; cursor: pointer; overflow: hidden; white-space:nowrap; }

		.rate_input:not(:checked) > label:before { content: '\e677 '; margin-right: 0.5em; }
		.rate_input > input:checked ~ label { color: #eec52a; }

		.rate_input:not(:checked) > label:hover,
		.rate_input:not(:checked) > label:hover ~ label { color: #eec52a; }

		.rate_input > input:checked + label:hover,
		.rate_input > input:checked + label:hover ~ label,
		.rate_input > input:checked ~ label:hover,
		.rate_input > input:checked ~ label:hover ~ label,
		.rate_input > label:hover ~ input:checked ~ label { color: #ea0; }

		.rate_input > label:active { left:2px; position:relative; top:2px; }

	/* Rating: Hidden */
	.visuallyhidden { width: 1px; height: 1px; padding: 0; border: 0; margin: -1px; clip: rect(0 0 0 0); overflow: hidden; position: absolute; }


/* ---- Search Nuggets ---- */ 
.nugget_container { padding: 5px 5px 0; margin-top: 10px; background: #f5f5f5; overflow: hidden; }

.nugget_label { margin: 8px 13px 0 5px; font-size: 11px; float: left; text-transform: uppercase; }

	/* Nuggets */
	.nugget { max-width: 200px; border: 1px solid #d6d4d4; border-radius: 5px; margin-bottom: 5px; background: #fff; float: left; }
	.nugget + .nugget { margin-left: 5px; }
	.nugget .label { padding: 0 ; color: #555; font-size: 12px; font-weight: normal; }

	.nugget:hover {  background-color: rgba(0,0,0,0.04); border-color: #777; }
	.nugget:hover .label { text-decoration: line-through; }	

	.nugget a { padding: 3px 25px 5px 5px; color: #555; display: block; overflow: hidden; position: relative; text-overflow: ellipsis; white-space: nowrap; }
	.nugget a:hover { text-decoration: none; }
	.nugget a.icon-remove { padding-left: 5px; }
	.nugget a.icon-remove:before { right: 3px; top: 5px; }

	.nugget_remove_all { background: transparent; }
	.nugget_remove_all a { padding-right: 5px; }
	.nugget_remove_all:hover { border: 1px solid #777; background: transparent; }
	.nugget_remove_all:hover .label { text-decoration: none; }

	/* Nuggets: Convert to Button List for Mobile */
	@media screen and (max-width: 420px) {

		.nugget_label { margin: 6px 0 11px 5px; display: block; float: none; }
	
		.nugget { max-width: none; border: none; border-radius: 0; display: block; float: none; overflow: hidden; }
		.nugget + .nugget { margin-left: 0; }

		.nugget_remove_all:hover { border: none; }

	}		


/* ---- Sections ---- */ 
/* Note: Any changes to <section> will negatively impact Doc. Contact Ryan Johnson before making any change */

.subsection { padding-top: 30px; margin-top: 30px; border-top: 1px solid #eee; }


/* ---- Separators ---- */
/* Deprecated - Use <hr> instead */
.separator { margin: 0 0 21px; border-top: 1px solid #cbcbcb; }


/* ---- Slider ---- */
.slider_container { padding: 20px 15px 0; margin-bottom: 30px; display: block; background-color: #f5f5f5; overflow: hidden; }
.slider_container p { margin-bottom: 0; }
.slider_container .slide { margin: 0 auto; position: relative; }

	/* Slider: Content */
	.slider-inner { width: 100%; overflow: hidden; position: relative; }
	.slider-inner > .item { display: none; position: relative; transition: .6s ease-in-out left; -webkit-transition: .6s ease-in-out left; }
	.slider-inner > .item > img,
	.slider-inner > .item > a > img { max-width: 100%; height: auto; display: block; line-height: 1.00; }

	.slider-inner > .active,
	.slider-inner > .next,
	.slider-inner > .prev { display: block; }

	.slider-inner > .next,
	.slider-inner > .prev { width: 100%; position: absolute; top: 0; }

	.slider-inner > .next { left: 100%; }
	.slider-inner > .prev { left: -100%; }

	.slider-inner > .active,
	.slider-inner > .next.left,
	.slider-inner > .prev.right { left: 0; }

	/* Slider: Control */
	.slider-control { width: 30px; bottom: 0; background-color: #f5f5f5; color: #0067b3; font-size: 26px; position: absolute; text-align: center; text-shadow: none; top: -20px; }
	.slider-control.left { left: -15px; }
	.slider-control.right { right: -15px; }

	.slider-control [class*="icon-"] { position: absolute; top: calc(50% - 14px); z-index: 5; }

	.slider-control.left [class*="icon-"] { left: 1px; }
	.slider-control.right [class*="icon-"] { right: 1px; }

	.slider-control:hover [class*="icon-"],
	.slider-control:focus [class*="icon-"] { color: #0067b3; opacity: 0.9; outline: none; text-decoration: none; }

	.slider-control .icon-prev,
	.slider-control .icon-next { font-family: mathworks; }

	.slider-control .icon-prev:before { content: '\e613'; }
	.slider-control .icon-next:before { content: '\e615'; }


/* ---- Small Text ---- */
small p,
small ul,
small ol { margin-bottom: 15px; }

	/* Small Text: Size Options */
	small.percent_90 { font-size: 90%; }
	small.percent_70 { font-size: 70%; }


/* ---- Social Media ---- */

	/* Social Media: Icons */
	.social_media.large object { width: 24px; height: 24px; display: inline-block; }
	.social_media.large .social_media_icons li { padding-left: 0; margin-bottom: 0; float: left; }
	.social_media.large .social_media_icons li + li { padding-left: 14px; }

	/* Social Media: Share */
	.sharebuttons li { height: 24px; }
	
	.sharebuttons.list-inline li:first-child { padding-right: 90px; }
	.sharebuttons.list-inline.hide_counts li:first-child { padding-right: 54px; }
	.sharebuttons.list-inline .fb { margin-top: 4px; position: absolute; }
	

/* ---- Superscript / Subscript ---- */
sub,
sup { font-size: 55%; line-height: 0; position: relative; }
sup { top: -.85em; }


/* ---- Tabs ---- */

	/* Tab: Controls -- [ Additional Styles: MD,XS ] */
	.nav-tabs { margin-left: 0; }
	.nav-tabs li { padding-left: 0; margin-bottom: -1px; font: normal 400 16px/1.13 Arial, Helvetica, sans-serif; }
	ul.nav-tabs li:before { min-width: 0; margin-left: 0; content: ""; display: block; }
	
	.nav-tabs li a { outline: none; }
	.nav-tabs li:hover a { color: #044180; }

		/* Controls	: Icons */
		.nav-tabs li span[class*="icon-"]:not(.glyphicon) { margin: -2px 5px 0 0; float: left; }

	/* Tab: Content */
	.tab-content { padding: 30px 15px; border: 1px solid #ddd; border-top: none; }

	/* Tab: Layout */

		/* Tab Layout: Accordion */ 
		.tab-container .panel-title { font-size: 19px; }
		.tab-container .responsive .panel-heading { padding: 0; }
		.tab-container .responsive .panel-heading a { padding: 10px 15px; color:#3c3c3c; outline: none; }		

		.tab-container a.accordion-toggle { display: block; text-decoration: none; }
		.tab-container a.accordion-toggle:hover { color: #3c3c3c; }
		.tab-container a.accordion-toggle .label-description { display: none; }

		.tab-container .accordion-toggle .icon-arrow-open-up,
		.tab-container .accordion-toggle .icon-arrow-open-down { float: right } 

		.tab-container .accordion-toggle .icon-arrow-open-up { display: inline-block; }
		.tab-container .accordion-toggle .icon-arrow-open-down { display: none; }

		.tab-container .accordion-toggle.collapsed .icon-arrow-open-up { display: none; }
		.tab-container .accordion-toggle.collapsed .icon-arrow-open-down { display: inline-block; }		

		/* Tab Layout: Vertical */ 
		.tab-container .tabs-vertical .tab-pane.active { padding-bottom: 0; border-bottom: none; }
		.tab-container .tabs-vertical { width: 25%; padding-top: 30px; border: none; float: left; position: relative; }
		.tab-container .tabs-vertical + .tab-content { width: 75%; padding-left: 15px; padding-right: 15px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; float: left; position: relative; }
		.tab-container .tabs-vertical .label-description { color: #3c3c3c; display: block; font: normal 400 14px/1.00 Arial, Helvetica, sans-serif; text-decoration: none; }

		.tab-container .tabs-vertical > li { margin-bottom: 2px; float: none; }
		.tab-container .tabs-vertical > li > a { margin-right: 0; border-radius: 4px 0 0 4px; display: block; }
		.tab-container .tabs-vertical > li.active > a, 
		.tab-container .tabs-vertical > li.active > a:focus,
		.tab-container .tabs-vertical > li.active > a:hover { margin-right: -1px; border-right-color: #fff; border-bottom-color: #ddd; background: #fff; z-index: 1000 }


/* ---- Tables ---- */
.table { font-size: 14px; line-height: 1.50; }

.table p,
.table ul { margin-bottom: 10px; }
.table li { margin-bottom: 3px; }

	/* Tables: Bordered */
	.table-bordered,
	.table-bordered > thead > tr > th,
	.table-bordered > tbody > tr > th,
	.table-bordered > tfoot > tr > th,
	.table-bordered > thead > tr > td,
	.table-bordered > tbody > tr > td,
	.table-bordered > tfoot > tr > td { border-color: #ececec; }

	.table-bordered > thead > tr > th,
	.table-bordered > thead > tr > td { border-bottom-width: 1px; }

	/* Tables: Collapsing Table */ 
	.table_collapse th { left: 0; position: relative; top: 0; }
	.table_collapse td:before { display: none; top: 7px white-space: nowrap; }

	.table_collapse th,
	.table_collapse td { padding: .25em .5em; display: table-cell; text-align: left; }
	
	.table_collapse th:last-child,
	.table_collapse td:last-child { padding-right: 0; }

	/* Tables: Condensed */
	.table-condensed { font-size: 13px; }

	/* Tables: Datatable */
	.datatable { margin: 0 0 21px; }
	.datatable th { padding: 8px 15px; background: #e9e9e9; color: #333; font-size: 14px; font-weight: normal; line-height: 1.14; vertical-align: middle; }
	.datatable td { padding: 8px 15px; font-size: 12px; line-height: 1.14; }

	/* Tables: Striped [ Additional Styles: XS ] */
	.table-striped > tbody > tr:nth-of-type(odd) { background-color: #fafafa; }


/* ---- Thumbnail ---- */ 
.thumbnail { padding: 0; border: none; border-radius: 0; background-color: transparent; }
.thumbnail img { border: 1px solid #ddd; }

	/* Thumbnail: Assets */		
	.thumbnail.thumbnail_asset a { width: 100%; margin-bottom: 10px; display: block; float: left; position: relative; text-decoration: none; }
	
	.asset_overlay { position: relative; }
	.asset_title { display: block; }

	/* Thumbnail: Overlays */
	.thumbnail.thumbnail_asset .overlay_container { padding: 2px; margin: 1px; background: #4c4c4c; background: rgba(0, 0, 0, 0.7); bottom: 0; font-size: 12px; line-height:1.00; position: absolute; right: 0; }
	.thumbnail.thumbnail_asset.large .overlay_container { padding: 6px 9px; font-size: 20px; }

	.thumbnail.thumbnail_asset:hover .overlay_container,
	.thumbnail.thumbnail_asset:focus .overlay_container { background: rgba(90, 90, 90, 1.0); }

	.thumbnail.thumbnail_asset .overlay_container.left { left: 0; right: auto; }

	.thumbnail.thumbnail_asset .overlay_container .video_length { padding-left: .2em; color: #fff!important; font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height:1.00; }
	.thumbnail.thumbnail_asset .overlay_container .video_count { color: #666; }


/* ---- Wells ---- */
.well { border-radius: 0; }

.well > *:last-child,
.well > *:last-child > *:last-child,
.well > *:last-child > *:last-child > *:last-child { margin-bottom: 0; }



/* ------------------------------------
$ Structure
------------------------------------ */

/* ---- Header ---- */
.header { background: #fff; }

	/* Global Navbars */
	.navbar { min-height: 0; margin-bottom: 0; border: none; }
	.navbar-default { background-color: transparent; }

	.navbar-collapse ul { margin-bottom: 0; }
	.navbar-collapse li { padding-left: 0; margin-bottom: 0; background: none; font-size: 14px; }

	.navbar-default #topnav { margin-top: 11px; }
	.navbar-default #topnav.navbar-nav > li > a { padding: 5px 10px; color: #2354a1; display: block; text-decoration: none; white-space: nowrap; }
	.navbar-default #topnav.navbar-nav > li > a,
	.navbar-default #topnav.navbar-nav > li > a:visited { color: #52575e; }
	.navbar-default #topnav.navbar-nav > li > a:hover { color: #3468a5; }
	
	.navbar-default #topnav.navbar-nav > li.active > a,
	.navbar-default #topnav.navbar-nav > li.active > a:hover { border-radius: 4px; background: #e5ebf0; color: #52575e; }

	.navbar-header { float: none; }

	.logo_container { margin-top: 5px; margin-bottom: 6px; float: left; }
	.logo_container .mw_logo { width: 173px; height: 35px; margin: 0 20px 0 -6px; float: left; }
	.logo_container .mlc_logo { width: 173px; height: 23px; margin: 0 20px 0 -6px; float: left; }

	/* Global Navbars: Logo Placement w/o PTools (Desktop) */ 
	#header_desktop .logo_container.ptools_off { margin-top: 18px; }

	/* Non-Mobile Adjustments */
	@media only screen and (min-width:992px) {

		#headernav { padding-top: 8px; }

		#headernav > li { padding-left: 7px; font-size: 13px; line-height: 1.15; }
		#headernav > li > a { padding: 0 4px; margin: 0; color: #a2a2a2; font-weight: normal; line-height: 0.92; }
		#headernav > li > a:hover { background-color: transparent; color: #1b1b1b; }
		#headernav	a:hover .caret { border-top-color: #666; }

		#headernav_collapse .navbar-nav > .open > a,
		#headernav_collapse .navbar-nav > .open > a:hover,
		#headernav_collapse .navbar-nav > .open > a:focus { background-color: transparent; color: #666; }	

		#headernav_collapse li.headernav_login { border-left: none; }
		#headernav_collapse li.headernav_login > a { padding-right: 0; padding-left: 4px; }

	}


/* ---- Section Header ---- */
/* Doc Warning: Any height changes to .section_header or .section_header_content need to be reflected in .doc_center_product */
.section_header { width: 100%; height: 52px; background: #2f7eb2 none !important; display: table; }
.section_header_content { width: 100%; height: 52px; padding: 8px 0 11px; display: table-cell; vertical-align: bottom; }
.section_header_title { float: left; }

	/* Section Header: Hierarchy */
	.section_header h1,
	.section_header p.h1 { padding: 0; margin-bottom: 0; color: #fff; font: normal 400 28px/1.00 "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif; letter-spacing: -.02em; float: left; }

	.section_header em { font-family: "futura-pt-i4","futura-pt","Arial","Helvetica",sans-serif; font-style: italic; font-weight: 400; }
	.section_header strong { font-family: "futura-pt-n7","futura-pt",Arial,Helvetica,sans-serif; font-weight: 700; }
	.section_header em strong,
	.section_header strong em { font-family: "futura-pt-i7","futura-pt","Arial","Helvetica",sans-serif; font-style: italic; font-weight: 700; }

	/* Section Header: Search [ Additional Styles: SM + XS ] */
	.section_header form { padding-top: 11px; }

	.section_header .btn_search_adjacent { background: #123a55; background: rgba(0, 0, 0, 0.4); color: #fff; }
	.section_header .btn_search_adjacent:hover,
	.section_header .btn_search_adjacent:active,
	.section_header .btn_search_adjacent:focus { color: #fff; outline: none; }
	.section_header .btn_search_adjacent.icon-search { padding-top: 6px; padding-bottom: 6px; }
	.section_header .btn_search_adjacent.icon-arrow-down { padding-right: 8px; padding-left: 8px; border-left: 1px solid #2f7eb2; }

	.section_header .conjoined_search { height: 30px; padding: 3px 12px; border: none; border-radius: 4px 0 0 4px !important; }

	.section_header .input-group-btn:last-child > .btn { margin-left: 0; }

	.section_header .btn_search { padding-left: 8px; padding-right: 8px; border-radius: 0; }
	.section_header .btn_search_adjacent { border-radius: 0 4px 4px 0; background-color: #1c4b6a; background-color: rgba(0, 0, 0, 0.4); color: #fff; }

	.section_header .dropdown-toggle { height: 30px; margin-right: 1px; padding-top: 4px; padding-right:22px; padding-bottom: 4px; border-radius: 0; font-size: 13px; line-height: 1.00; }
	.section_header .dropdown-toggle .caret { margin: 6px -16px 0 0;  float: right; }

	.section_header .dropdown-menu { z-index: 1045; }

	.section_header .navbar-toggle { margin: 0; padding-left: 0; border: none; color: #fff; display: block; float: left; }
	.section_header .navbar-toggle .icon-menu-reverse { padding-top: 0; padding-bottom: 0; margin-bottom: -1px; }  

	.section_header .search_scope_label { white-space: nowrap; }

		/* Search: Non-Mobile Adjustments */
		@media only screen and (min-width:768px) {

		  #mobile_search.collapse { height: auto !important; display: block; }
		
		}  

	/* Section Header: Affix */		
	.sticky_header_container.affix,
	.sticky_header_container.affix-bottom  { width: 100%; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25); top: 0; z-index: 1035; }

		/* Affix: Desktop [ Additional Styles: SM + XS ] */
		@media (min-width:992px) {

			/* Account for Affixed Header --- padding-top : calc(Height of Affixed Banner + Top Padding on Element) */
			.sticky_header_container.affix + .full_banner_container { padding-top: calc(52px + 0px); }
			.sticky_header_container.affix + .body_lead_container { padding-top: calc(52px + 30px); }
			.sticky_header_container.affix + .content_container { padding-top: calc(52px + 20px); }

			.sticky_header_container.affix + .cta_container_mobile + .body_lead_container { padding-top: calc(52px + 30px); }
			.sticky_header_container.affix + .cta_container_mobile + .content_container { padding-top: calc(52px + 20px); }      

			.sticky_header_container.affix.includes_subnav + .full_banner_container { padding-top: calc(96px + 0px); }
			.sticky_header_container.affix.includes_subnav + .body_lead_container {padding-top: calc(96px + 30px); }
			.sticky_header_container.affix.includes_subnav + .content_container { padding-top: calc(96px + 20px); }

			.sticky_header_container.affix.includes_subnav + .cta_container_mobile + .body_lead_container {padding-top: calc(96px + 30px); }
			.sticky_header_container.affix.includes_subnav + .cta_container_mobile + .content_container { padding-top: calc(96px + 20px); }      

			/* Min Height Re-Calc with New Padding Value : Min-Height Value Defined Below */
			.sticky_header_container.affix + .content_container { min-height: calc(52px + 550px); }
			.sticky_header_container.affix + .cta_container_mobile + .content_container { min-height: calc(52px + 550px); }  
			.sticky_header_container.affix.includes_subnav + .content_container { min-height: calc(96px + 550px); }
			.sticky_header_container.affix.includes_subnav + .cta_container_mobile + .content_container { min-height: calc(96px + 550px); } 

			/* Anchors [ Calc: Height of Banner + 20px ] */
			.sticky_header_container.affix ~ .content_container .anchor { padding-top: 72px; margin-top: -72px; }
			.sticky_header_container.affix-top ~ .content_container .anchor { padding-top: 138px; margin-top: -138px; }

			.sticky_header_container.affix.includes_subnav ~ .content_container .anchor { padding-top: 116px; margin-top: -116px; }
			.sticky_header_container.affix-top.includes_subnav ~ .content_container .anchor  { padding-top: 182px; margin-top: -182px; }

	}


/* ---- Horizontal Nav ---- */
.horizontal_nav_container { width: 100%; height: 44px; background: #fff; display: table; }
.horizontal_nav_container .navbar-nav { padding-top: 12px; padding-left: 5px; margin-left: -30px; }

.horizontal_nav_container .navbar-nav > li { padding: 0 5px; font-size: 13px; line-height: 1.00; }
.horizontal_nav_container .navbar-nav > li + li { border-left: 1px solid #e7e7e7; }
.horizontal_nav_container .navbar-nav > li > a { padding: 0 5px; color: #52575e; font-weight: normal; }

.horizontal_nav_container .navbar-nav > li > a,
.horizontal_nav_container .navbar-nav > li > a:visited { color: #428bca; }

.horizontal_nav_container .navbar-nav > li:active > a,
.horizontal_nav_container .navbar-nav > li > a:hover { background: transparent; color: #428bca; }

.horizontal_nav_container .navbar-nav > .open > a,
.horizontal_nav_container .navbar-nav > .open > a:hover,
.horizontal_nav_container .navbar-nav > .open > a:focus { background: transparent; color: #428bca; }

.horizontal_nav_container .navbar-nav > li.active > a,
.horizontal_nav_container .navbar-nav > li.active > a:hover,
.horizontal_nav_container .navbar-nav > li.active > a:focus { background: transparent; color: #52575e; }

.horizontal_nav_container .caret { margin-left: 5px; }

	/* Horizontal Nav: CTA Box */
	.horizontal_nav_container .cta_box { padding-top: 14px; }


/* ---- Full Banner ---- */
.full_banner_container { background: #2253a0; }


	/* Full Banner: Carousels */
	.full_banner .carousel-inner > .item { min-height: 400px; }
	.full_banner.small .carousel-inner > .item { min-height: 200px; }

	/* Full Banner: Opacity Container */
	.full_banner .opacity_container { margin-left: -15px; margin-right: -15px; }


/* ---- Mobile CTA Container ---- */
.cta_container_mobile { padding: 20px 0; background: #fff; }


/* ---- Body Lead ---- */
.body_lead_container { padding: 30px 0 10px; background: #f5f5f5; border-bottom:1px solid #e3e3e3; } 

/* ---- Content ---- */

	/* Content Container : If min-height Changes, Update the Affix Values Above */
	.content_container { min-height: 550px; padding: 20px 0 50px; border-bottom:1px solid #e1e1e1; background: #fff; }

	.body_lead_container + .content_container { padding-top:40px; }


	/* ---- Search Results ---- */

		/* Search Results: Table */
		
			/* Search Results Table: Header */
			#search_result_header .link_disabled,
			#search_result_footer .link_disabled { cursor: default !important; pointer-events: none; }
		
			#search_result_header .link_disabled [class*="icon-"],
			#search_result_footer .link_disabled [class*="icon-"] { opacity: .25; }

			/* Search Results Table: Content */
			.search_result_table { margin-bottom: 0; }
		
			.search_result_table .search_title { margin-bottom: 5px; font-weight: bold; }
			.search_result_table .additional_field { margin-bottom: 5px; }
			.search_result_table .new_indicator { padding-left: 5px; }
			.search_result_table .search_result_additional_left.thumb { width: 20%; }
			.search_result_table .search_result_additional_right.thumb { width: 15%; }

			.search_result_table .result_element_thumb.workaround { padding: 0; margin: 0 0 5px 50px; background: transparent url("/images/bug_reports/workaround.gif") no-repeat 0 0; }
			.search_result_table .result_element_thumb.workaround img { width: 0; height: 24px; margin: 0; padding: 0; }
		
			.search_result_table .result_element_thumb.answer_frame { width: 60px; padding: 9px 0 4px; margin: 0 auto 5px; border: 1px solid #d7d6d6; color: #3d8d2f; font-size: 1em; line-height: 1.20; text-align: center; }
			.search_result_table .result_element_thumb.answer_frame.accepted { border: 1px solid #3d8d2f; }
			.search_result_table .result_element_thumb.accepted { color: #3d8d2f; }
		
			.search_result_table .search_url,
			.search_result_table .search_url a { color: #009915; text-decoration: none; }

			.search_result_table .search_highlight em { color: #666; font-weight: bold; font-style: normal; }

			@media only screen and (max-width: 767px) {
				
				.search_result_table .search_highlight { display: none; }
				.search_result_table .search_result_additional_left.thumb { width: 40%; }
				.search_result_table .search_result_additional_right.thumb { width: 40%; }

			}			

		/* Search Results: Facets -- [ Additional Styles: SM & XS ] */
		#facets_area { margin-top: -9px; margin-left: -5px; }

		.search_refine { margin: 0 0 18px; color: #555; font-size: 12px; }
		.search_refine h3 { padding: 7px 5px 6px; margin: 0; border-bottom: 1px solid #ddd; color: #555; font: bold 14px/1.00 Arial, Helvetica, sans-serif; }
		.search_refine ul { margin-bottom: 0; }
		.search_refine ul > li { padding-left: 0; margin-bottom: 1px; line-height: 1.25; }
		.search_refine ul > li > ul { margin-top: 1px; }
		.search_refine a { padding: 7px 5px 5px; color: #808080; display: block; }
		.search_refine a:hover { background: #f5f5f5; color: #2c2c2c; text-decoration: none; }
		.search_refine a:focus,
		.search_refine a:active { text-decoration: none; }

		.search_refine .facet_title { padding: 7px 5px 5px; color: #808080; display: block; }

		.search_refine ul li li { padding-left: 10px; }

		.search_refine .refine_type_count,
		.search_refine .refine_product_count,
		.search_refine .refine_category_count { margin: 0 0 5px 7px; display: block; float: right; }

		.search_refine li.refined { position: relative; }
		.search_refine li.refined > a { padding-right: 30px; background: #f5f5f5; color: #2c2c2c; }
		.search_refine li.refined > a:after { margin-top: -3px; color: #808080; content: "\e64b"; display: inline-block; font-family: 'mathworks'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; opacity: 0.9; position: absolute; right: 5px; speak: none; text-transform: none; }

		.search_refine_scroll { max-height: 200px; overflow-x: hidden; overflow-y: auto; }


/* ---- Body Trail ---- */
.body_trail_container { padding: 30px 0; background: #f5f6f7; }


/* ---- Footer ---- */
footer { padding: 10px 0 0 0; background: #31373d; box-shadow: 0 15px 8px -16px rgba(50, 50, 50, 0.3) inset; color: #8b9298; font-size: 12px; line-height: 1.25; }

footer a,
footer a:focus,
footer a:visited,
footer a:hover { color: #8b9298; }

footer h4,
footer h5,
footer h6,
footer h4 a,
footer h4 a:hover,
footer h4 a:visited,
footer h5 a,
footer h5 a:hover,
footer h5 a:visited,
footer h6 a,
footer h6 a:hover,
footer h6 a:visited { color: #b6bbbf; }

footer h5 { font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; }

	/* Footer: Fat */
	.fat_footer_container { padding: 20px 0; }

	/* Footer: Standard */
	.footer { min-height: 100px; padding: 18px 0; overflow: hidden; }
	.footer p { margin-bottom: 12px; }

		/* Footer Nav  -- [ Additional Styles: XS ] */
		.countrynav { margin-bottom: 20px; margin-left: -4px; display: table; }
		.countrynav li { display: table-cell; }
		.countrynav li:first-child { padding-left: 0; }
		.countrynav li.footernav_country { font-size: 15px; }
		.countrynav li.footernav_country [class*="icon-"] { margin-right: 3px; }
		.countrynav li.footernav_country a { color: #b6bbbf; }
		.countrynav li.lang_de,
		.countrynav li.lang_fr { padding-left: 10px; }

		.footernav { margin-bottom: 5px; overflow: hidden; }
		.footernav li { padding-left: 0; margin-bottom: 0; float: left; }
		.footernav li + li { border-left: 1px solid #8b9298; }
		.footernav a { padding: 0 8px; display: block; }
		.footernav li:first-child a { padding-left: 0; }
		.footernav li:last-child a { padding-right: 0; }

		.kr_footernav { margin-bottom: 5px; }
		.kr_footernav li { padding: 0 8px; }
		.kr_footernav li:first-child { padding-left: 0; }

		/* Social Media -- [ Additional Styles: SM,XS ] */
		.footer .social_media { margin-bottom: 30px; float: right; font-size: 11px; line-height: 1.09; text-align: right; }
		.footer .social_media_icons { margin-bottom: 5px; float: right; }
		.footer .social_media_icons li { padding-left: 0; margin-bottom: 0; background: none; float: left; }
		.footer .social_media_icons li + li { margin: 0 0 0 8px; }
		.footer .social_media_icons object { width: 16px; height: 16px; }
		.footer .social_media_icons .ico_sm { width: 16px; height: 16px; background-image: url("/images/responsive/global/ico-sprite.png"); display: block; }

			/* Social Media: Icons -- [ Additional Styles: SM,XS ] */
			.ico_sm.ico_google { background-position: 0 0; }
			.ico_sm.ico_facebook { background-position: 0 -16px; }
			.ico_sm.ico_linkedin { background-position: 0 -32px; }	
			.ico_sm.ico_rss { background-position: 0 -48px; }
			.ico_sm.ico_twitter { background-position: 0 -64px; }
			.ico_sm.ico_weibo { background-position: 0 -80px; }


/* ---- Tracking Scripts ---- */
	/* Google Remarketing */
	iframe[name='google_conversion_frame'] { width: 0 !important; height: 0 !important; float: left; visibility: hidden; } 			

		
	
/* ------------------------------------
$ Override CSS
------------------------------------ */

/* Add & Remove Classes */

/* ---- Additive / Reductive CSS ---- */

	/* Add */

		/* Add: Background Size */ 
		.add_background_cover { background-size: cover !important; }

		/* Add: Borders */	
		.add_border { border: 1px solid  #e1e1e1; }

		/* Add: Clear */	
		.add_clear_right { clear:right; }
		.add_clear_left { clear:left; }
		.add_clear_both { clear:both; }

		/*  Add: Column Borders (Divider) [ Additional Styles: XS ] ---- */ 
		.add_border_right,
		.add_border_left { position: relative; }

		.add_border_left:before,
		.add_border_right:after { width: 0; height: auto; border-right: 1px solid #e1e1e1; bottom: 20px; content: ""; position: absolute; top: 0; }

		.add_border_left:before { left: 0; }
		.add_border_right:after { right: 0; }

			/* Column Divider: Body Trail */
			.body_trail_container .add_border_left:before,
			.body_trail_container .add_border_right:after { border-right-color: #cbcbcb; }

			/* Column Divider: Footer */
			#footer .add_border_left:before,
			#footer .add_border_right:after { border-right-color: #646d76; }		

		/* Add: Cursor Pointer */	
		.add_cursor_pointer { cursor: pointer; }

		/* Add: Display Property */		
		.add_display_block { display: block !important; }
		.add_display_inlineblock { display: inline-block !important; }

		/* Add: Equal Column Heights -- Non-Mobile Only */ 	
		@media only screen and (min-width:768px) {
		
			.add_equal_heights,
			.add_equal_heights > div[class*='col-'] { display: flex; flex: 1 1 auto; }

			.add_equal_heights { flex: 0; flex-direction: row; flex-wrap: wrap; }
			.add_equal_heights > div[class*='col-'] > .panel { width: 100%; }

				/* Fix for Opera: http://nicolasgallagher.com/micro-clearfix-hack/ */
				.row.add_equal_heights:before { font: 0/0 a; content: normal; }

				/* Equal Column Heights: Column Sizing */
				
					/* Mobile */
					.add_equal_heights .col-xs-1 { max-width: 8.33333333%; }
					.add_equal_heights .col-xs-2 { max-width: 16.66666667%; }
					.add_equal_heights .col-xs-3 { max-width: 25%; }
					.add_equal_heights .col-xs-4 { max-width: 33.33333333%; }
					.add_equal_heights .col-xs-5 { max-width: 41.66666667%; }
					.add_equal_heights .col-xs-6 { max-width: 50%; }
					.add_equal_heights .col-xs-7 { max-width: 58.33333333%; }
					.add_equal_heights .col-xs-8 { max-width: 66.66666667%; }
					.add_equal_heights .col-xs-9 { max-width: 75%; }
					.add_equal_heights .col-xs-10 { max-width: 83.33333333%; }
					.add_equal_heights .col-xs-11 { max-width: 91.66666667%; }
					.add_equal_heights .col-xs-12 { max-width: 100%; }				

					/* Tablet */
					.add_equal_heights .col-sm-1 { max-width: 8.33333333%; }
					.add_equal_heights .col-sm-2 { max-width: 16.66666667%; }
					.add_equal_heights .col-sm-3 { max-width: 25%; }
					.add_equal_heights .col-sm-4 { max-width: 33.33333333%; }
					.add_equal_heights .col-sm-5 { max-width: 41.66666667%; }
					.add_equal_heights .col-sm-6 { max-width: 50%; }
					.add_equal_heights .col-sm-7 { max-width: 58.33333333%; }
					.add_equal_heights .col-sm-8 { max-width: 66.66666667%; }
					.add_equal_heights .col-sm-9 { max-width: 75%; }
					.add_equal_heights .col-sm-10 { max-width: 83.33333333%; }
					.add_equal_heights .col-sm-11 { max-width: 91.66666667%; }
					.add_equal_heights .col-sm-12 { max-width: 100%; }

					/* Desktop Small */
					@media (min-width: 992px) {
						.add_equal_heights .col-md-1 { max-width: 8.33333333%; }
						.add_equal_heights .col-md-2 { max-width: 16.66666667%; }
						.add_equal_heights .col-md-3 { max-width: 25%; }
						.add_equal_heights .col-md-4 { max-width: 33.33333333%; }
						.add_equal_heights .col-md-5 { max-width: 41.66666667%; }
						.add_equal_heights .col-md-6 { max-width: 50%; }
						.add_equal_heights .col-md-7 { max-width: 58.33333333%; }
						.add_equal_heights .col-md-8 { max-width: 66.66666667%; }
						.add_equal_heights .col-md-9 { max-width: 75%; }
						.add_equal_heights .col-md-10 { max-width: 83.33333333%; }
						.add_equal_heights .col-md-11 { max-width: 91.66666667%; }
						.add_equal_heights .col-md-12 { max-width: 100%; }
					}

					/* Desktop Large */
					@media (min-width: 1200px) {
						.add_equal_heights .col-lg-1 { max-width: 8.33333333%; }
						.add_equal_heights .col-lg-2 { max-width: 16.66666667%; }
						.add_equal_heights .col-lg-3 { max-width: 25%; }
						.add_equal_heights .col-lg-4 { max-width: 33.33333333%; }
						.add_equal_heights .col-lg-5 { max-width: 41.66666667%; }
						.add_equal_heights .col-lg-6 { max-width: 50%; }
						.add_equal_heights .col-lg-7 { max-width: 58.33333333%; }
						.add_equal_heights .col-lg-8 { max-width: 66.66666667%; }
						.add_equal_heights .col-lg-9 { max-width: 75%; }
						.add_equal_heights .col-lg-10 { max-width: 83.33333333%; }
						.add_equal_heights .col-lg-11 { max-width: 91.66666667%; }
						.add_equal_heights .col-lg-12 { max-width: 100%; }
					}
		}


		/* Add: Font Color */
		.add_font_color_null { color: #fff !important; }
		.add_font_color_general { color: #666 !important; }
		.add_font_color_primary { color: #3c3c3c !important; }
		.add_font_color_secondary { color: #205592 !important; }
		.add_font_color_tertiary { color: #009915 !important; }
		.add_font_color_quaternary { color: #eea600 !important; }
		.add_font_color_quinary { color: #00ace8 !important; }
		.add_font_color_senary { color: #79dafc !important; }
		.add_font_color_septenary { color: #07b38c !important; }
		.add_font_color_emphasize { color: #c45400 !important; }

			/* Add: Font Color for Links */
			a.add_font_color_primary:hover { color: #0067b3 !important; text-decoration: none; }

		/* Add: Font Family */
		[class*="add_font_"] { -moz-font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; font-feature-settings: "kern"; }

			/* Font Family: Arial */
			.add_font_arial { font-family: Arial,Helvetica,sans-serif !important; }

				/* Assumes being applied to Futura "?" */
				span.add_font_arial { padding-left: 2px; display: inline-block; font-size: 90%; }

			/* Font Family: Automate */
			.add_font_automate { font-family: "automate-n7","automate",sans-serif !important; font-style: normal !important; font-weight: 700 !important; text-transform:uppercase !important; }

			/* Font Family: Futura */		
			.add_font_futura_book { font-family: "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif !important; font-style: normal !important; font-weight: 400 !important; }
			.add_font_futura_book em { font-family: "futura-pt-i4","futura-pt",Arial,Helvetica,sans-serif !important; font-style: italic !important; font-weight: 400 !important; }
			
			.add_font_futura_book strong,
			.add_font_futura_medium { font-family: "futura-pt-n5","futura-pt",Arial,Helvetica,sans-serif !important; font-style: normal !important; font-weight: 500 !important; }
			
			.add_font_futura_book strong em,
			.add_font_futura_book em strong,
			.add_font_futura_medium em { font-family: "futura-pt-i5","futura-pt",Arial,Helvetica,sans-serif !important; font-style: italic !important; font-weight: 500 !important; }
			
			.add_font_futura_medium strong { font-family: "futura-pt-n7","futura-pt",Arial,Helvetica,sans-serif !important; font-style: normal !important; font-weight: 700 !important; }

			.add_font_futura_medium em strong,
			.add_font_futura_medium strong em { font-family: "futura-pt-i7","futura-pt",Arial,Helvetica,sans-serif !important; font-style: italic !important; font-weight: 700 !important; }

			/* Font Family: Minion Pro */		
			.add_font_minion_pro,
			.add_font_product_wordmark { font-family: "minion-pro-subhead-n4","minion-pro-subhead",serif !important; font-style: normal !important; font-weight: 400 !important; }

				/* Minion Pro: MATLAB & Simulink Word Marks */
				.add_font_product_wordmark { font-size: 36px !important; font-variant: small-caps; line-height: 0.83 !important; }
				.add_font_product_wordmark::first-letter { font-size: 41px; }

			/* Font Family: Museo */		
			.add_font_museo { font-family: "museo-slab-n7","museo-slab",serif !important; font-style: normal !important; font-weight: 700 !important; }

		/* Add: Indent  */	
		.add_indent_5 { margin-left: 5px !important; }
		.add_indent_10 { margin-left: 10px !important; }
		.add_indent_15 { margin-left: 15px !important; }
		.add_indent_20 { margin-left: 20px !important; }
		.add_indent_25 { margin-left: 25px !important; }
		.add_indent_30 { margin-left: 30px !important; }

		/* Add: List Spacing */
		.add_list_spacing_3 li { margin-bottom: 3px; }
		.add_list_spacing_5 li { margin-bottom: 5px; }
		.add_list_spacing_7 li { margin-bottom: 7px; }
		.add_list_spacing_10 li { margin-bottom: 10px; }
		.add_list_spacing_12 li { margin-bottom: 12px; }
		.add_list_spacing_15 li { margin-bottom: 15px; }

		.add_list_spacing_3 li > ul { padding-top: 3px; }
		.add_list_spacing_5 li > ul { padding-top: 5px; }
		.add_list_spacing_7 li > ul { padding-top: 7px; }
		.add_list_spacing_10 li > ul { padding-top: 10px; }
		.add_list_spacing_12 li > ul { padding-top: 12px; }
		.add_list_spacing_15 li > ul { padding-top: 15px; }

			/* DEPRECATED: DO NOT USE ---- Add: List Spacing */
			.add_spacing_3 li { margin-bottom: 3px; }
			.add_spacing_5 li { margin-bottom: 5px; }
			.add_spacing_7 li { margin-bottom: 7px; }
			.add_spacing_10 li { margin-bottom: 10px; }
			.add_spacing_12 li { margin-bottom: 12px; }
			.add_spacing_15 li { margin-bottom: 15px; }

			.add_spacing_3 li > ul { padding-top: 3px; }
			.add_spacing_5 li > ul { padding-top: 5px; }
			.add_spacing_7 li > ul { padding-top: 7px; }
			.add_spacing_10 li > ul { padding-top: 10px; }
			.add_spacing_12 li > ul { padding-top: 12px; }
			.add_spacing_15 li > ul { padding-top: 15px; }

		/* Add: List Separator */ 
		li.add_list_separator_right { border-right: 1px solid #e5e5e5; }
		li.add_list_separator_left { border-left: 1px solid #e5e5e5; }			

		/* Add: Margin-Bottom  -- [ Additional Styles: SM,XS ] */
		.add_margin_0 { margin-bottom: 0px !important; }
		.add_margin_5 { margin-bottom: 5px !important; }
		.add_margin_10 { margin-bottom: 10px !important; }
		.add_margin_15 { margin-bottom: 15px !important; }
		.add_margin_20 { margin-bottom: 20px !important; }
		.add_margin_25 { margin-bottom: 25px !important; }
		.add_margin_30 { margin-bottom: 30px !important; }
		.add_margin_35 { margin-bottom: 35px !important; }
		.add_margin_40 { margin-bottom: 40px !important; }
		.add_margin_45 { margin-bottom: 45px !important; }
		.add_margin_50 { margin-bottom: 50px !important; }
		.add_margin_60 { margin-bottom: 60px !important; }
		.add_margin_70 { margin-bottom: 70px !important; }
		.add_margin_80 { margin-bottom: 80px !important; }
		.add_margin_90 { margin-bottom: 90px !important; }
		.add_margin_100 { margin-bottom: 100px !important; }

		/* Add: Opacity */
		.add_opacity_25 { opacity: 0.25; }
		.add_opacity_50 { opacity: 0.5; }
		.add_opacity_75 { opacity: 0.75; }

		/* Add: Rules */
		.add_bottom_rule { padding-bottom: 2px; border-bottom: 1px solid #cbcbcb; }


	/* Remove */

		/* Remove: Background */ 
		.remove_background_image { background-image: none !important; }	

		/* Remove: Bold */
		.remove_bold { font-weight: normal !important; }
		
		h4 .remove_bold,
		h5 .remove_bold,
		.h4.remove_bold,
		.h5.remove_bold,
		h4.remove_bold,
		h5.remove_bold { font-family: "futura-pt-n4","futura-pt",Arial,Helvetica,sans-serif !important; font-weight: 400 !important; }

		/* Remove: Padding */ 
		.remove_padding { padding: 0 !important; }	
		
		/* Remove: Border */
		.remove_border { border: none !important; }
		.remove_border_top { border-top: none !important; }
		.remove_border_bottom { border-bottom: none !important; }

		/* Remove: Top-Margin */
		.remove_margin_0 { margin-top: 0 !important; }
		.remove_margin_5 { margin-top: -5px !important; }
		.remove_margin_10 { margin-top: -10px !important; }
		.remove_margin_15 { margin-top: -15px !important; }
		.remove_margin_20 { margin-top: -20px !important; }
		.remove_margin_25 { margin-top: -25px !important; }
		.remove_margin_30 { margin-top: -30px !important; }
		.remove_margin_35 { margin-top: -35px !important; }
		.remove_margin_40 { margin-top: -40px !important; }
		.remove_margin_45 { margin-top: -45px !important; }
		.remove_margin_50 { margin-top: -50px !important; }
		.remove_margin_60 { margin-top: -60px !important; }
		.remove_margin_70 { margin-top: -70px !important; }
		.remove_margin_80 { margin-top: -80px !important; }
		.remove_margin_90 { margin-top: -90px !important; }
		.remove_margin_100 { margin-top: -100px !important; }

		/* Remove: Text Wrapping */
		.remove_text_wrapping { white-space: nowrap; }


/* ---- Icon Font ---- */

	/* Icon Font: As Background */
	h1[class*="icon-"]:not(.glyphicon):before,
	h2[class*="icon-"]:not(.glyphicon):before,
	h3[class*="icon-"]:not(.glyphicon):before,
	h4[class*="icon-"]:not(.glyphicon):before,
	h5[class*="icon-"]:not(.glyphicon):before,
	h6[class*="icon-"]:not(.glyphicon):before,
	td[class*="icon-"]:not(.glyphicon):before,
	p[class*="icon-"]:not(.glyphicon):before,
	a[class*="icon-"]:not(.glyphicon):before,
	ul.list-unstyled>li[class*="icon-"]:before { margin-left: -1.65em; display: inline-block; font-family: 'mathworks'; font-size: 106.5%; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1.25; opacity: 0.95; position: absolute; speak: none; text-decoration: none !important; text-transform: none; }

		/* Icon Font: Text Decoration Fix for :before in IE 8-11 */
		/* http://stackoverflow.com/a/21902566 */
		a[class*="icon-"]:before { text-decoration: underline; }
		a[class*="icon-"],
		a[class*="icon-"]:before,
		a[class*="icon-"]:hover:before { text-decoration: none; }

		/* Icon Font: mathworks-eps Font as Background */
		h1[class*="icon-mw-"]:before,
		h2[class*="icon-mw-"]:before,
		h3[class*="icon-mw-"]:before,
		h4[class*="icon-mw-"]:before,
		h5[class*="icon-mw-"]:before,
		h6[class*="icon-mw-"]:before,
		td[class*="icon-mw-"]:before,
		p[class*="icon-mw-"]:before,
		a[class*="icon-mw-"]:before,
		ul.list-unstyled>li[class*="icon-mw-"]:before { font-family: 'mathworks-eps'; }

	h1[class*="icon-"],
	h2[class*="icon-"],
	h3[class*="icon-"],
	h4[class*="icon-"],
	h5[class*="icon-"],
	h6[class*="icon-"],
	td[class*="icon-"],
	p[class*="icon-"],
	a[class*="icon-"],
	ul.list-unstyled>li[class*="icon-"] { padding-left: 1.80em; }

	a[class*="icon-"] { display: block; }

	/* Icon Font: In-Line -- [ Styles Apply to Form Validation Below ] */
	button[class*="icon-"],
	span[class*="icon-"]:not(.glyphicon) { border: 1px transparent solid; display: inline-block; font-family: 'mathworks'; font-style: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-variant: normal; font-weight: normal; text-transform: none; speak: none; }

		/* In-Line: mathworks-eps Font */		
		span[class*="icon-mw-"]:not(.glyphicon),
		button[class*="icon-mw-"] { font-family: 'mathworks-eps'; }

		/* In-Line: Sizes */
		.icon_16 { font-size: 16px; line-height: 1.00; }
		.icon_24 { font-size: 24px; line-height: 1.00; }
		.icon_32 { font-size: 32px; line-height: 1.00; }
		.icon_48 { font-size: 48px; line-height: 1.00; }
		.icon_56 { font-size: 56px; line-height: 1.00; }
		.icon_64 { font-size: 64px; line-height: 1.00; }

	/* Icon Font: Form Validation */
	.glyphicon.glyphicon-ok,
	.glyphicon.glyphicon-remove { border: 1px transparent solid; display: inline-block; font-family: 'mathworks'; font-style: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-variant: normal; font-weight: normal; text-transform: none; speak: none; }

	/* Icon Font: mathworks Available Icons (Apply any updates to fonts.css as well) */
	.icon-account:before { content: "\e600" !important; }
	.icon-activation:before { content: "\e601" !important; }
	.icon-add:before { content: "\e602" !important; }
	.icon-add-circle:before { content: "\e603" !important; }
	.icon-add-circle-reverse:before { content: "\e604" !important; }
	.icon-alert-error:before { content: "\e605" !important; }
	.icon-alert-info-reverse:before { content: "\e606" !important; }
	.icon-alert-success:before { content: "\e607" !important; }
	.icon-alert-warning:before { content: "\e608" !important; }
	.icon-answers:before { content: "\e609" !important; }
	.icon-app:before { content: "\e60a" !important; }
	.icon-arrow-boxed-down:before { content: "\e60b" !important; }
	.icon-arrow-boxed-left:before { content: "\e60c" !important; }
	.icon-arrow-boxed-right:before { content: "\e60d" !important; }
	.icon-arrow-boxed-up:before { content: "\e60e" !important; }
	.icon-arrow-down:before { content: "\e60f" !important; }
	.icon-arrow-left:before { content: "\e610" !important; }
	.icon-arrow-open-down:before { content: "\e611" !important; }
	.icon-arrow-open-down-reverse:before { content: "\e612" !important; }
	.icon-arrow-open-left:before { content: "\e613" !important; }
	.icon-arrow-open-left-reverse:before { content: "\e614" !important; }
	.icon-arrow-open-right:before { content: "\e615" !important; }
	.icon-arrow-open-right-reverse:before { content: "\e616" !important; }
	.icon-arrow-open-up:before { content: "\e617" !important; }
	.icon-arrow-open-up-reverse:before { content: "\e618" !important; }
	.icon-arrow-right:before { content: "\e619" !important; }
	.icon-arrow-up:before { content: "\e61a" !important; }
	.icon-attachment:before { content: "\e61b" !important; }
	.icon-block:before { content: "\e61c" !important; }
	.icon-blogs:before { content: "\e61d" !important; }
	.icon-bug-report:before { content: "\e61e" !important; }
	.icon-calendar:before { content: "\e61f" !important; }
	.icon-cc-amex:before { content: "\e686" !important; }
	.icon-cc-mastercard:before { content: "\e687" !important; }
	.icon-cc-visa:before { content: "\e688" !important; }
	.icon-certification:before { content: "\e685" !important; }
	.icon-chat:before { content: "\e620" !important; }
	.icon-check:before { content: "\e621" !important; }
	.icon-chevron:before { content: "\e622" !important; }
	.icon-cloud:before { content: "\e623" !important; }
	.icon-cody:before { content: "\e67a" !important; }
	.icon-cog:before { content: "\e66d" !important; }
	.icon-cog-reverse:before { content: "\e66e" !important; }
	.icon-community:before { content: "\e624" !important; }
	.icon-contactus:before { content: "\e625" !important; }
	.icon-contactus-menu:before { content: "\e679" !important; }
	.icon-contactus-menu-reverse:before { content: "\e678" !important; }
	.icon-corporation:before { content: "\e626" !important; }
	.icon-data:before { content: "\e627" !important; }
	.icon-data-view:before { content: "\e67c" !important; }
	.icon-document:before { content: "\e628" !important; }
	.icon-documentation:before { content: "\e629" !important; }
	.icon-download:before { content: "\e62a" !important; }
	.icon-edit:before { content: "\e62b" !important; }
	.icon-email:before { content: "\e62c" !important; }
	.icon-email-circle:before { content: "\e62d" !important; }
	.icon-examples:before { content: "\e62e" !important; }
	.icon-features:before { content: "\e62f" !important; }
	.icon-feedback:before { content: "\e630" !important; }
	.icon-file-excel:before { content: "\e674" !important; }
	.icon-fileexchange:before { content: "\e631" !important; }
	.icon-file-pdf:before { content: "\e632" !important; }
	.icon-file-zip:before { content: "\e633" !important; }
	.icon-filter:before { content: "\e634" !important; }
	.icon-function:before { content: "\e635" !important; }
	.icon-globe:before { content: "\e636" !important; }
	.icon-guaranteed:before { content: "\e682" !important; }	
	.icon-hardware:before { content: "\e637" !important; }
	.icon-headset:before { content: "\e683" !important; }
	.icon-help:before { content: "\e638" !important; }
	.icon-help-circle:before { content: "\e639" !important; }
	.icon-help-reverse:before { content: "\e63a" !important; }
	.icon-history:before { content: "\e671" !important; }
	.icon-home:before { content: "\e63b" !important; }
	.icon-homeuse:before { content: "\e63c" !important; }
	.icon-info:before { content: "\e63d" !important; }
	.icon-info-circle:before { content: "\e63e" !important; }
	.icon-installation-help:before { content: "\e63f" !important; }
	.icon-license-management:before { content: "\e640" !important; }
	.icon-like:before { content: "\e676" !important; }
	.icon-link:before { content: "\e641" !important; }
	.icon-link-external:before { content: "\e681" !important; }
	.icon-locked:before { content: "\e642" !important; }
	.icon-membrane:before { content: "\e67f" !important; }
	.icon-menu:before { content: "\e66f" !important; }
	.icon-menu-reverse:before { content: "\e670" !important; }
	.icon-mobile:before { content: "\e643" !important; }
	.icon-model:before { content: "\e644" !important; }
	.icon-newsletter-subscribe:before { content: "\e645" !important; }
	.icon-note:before { content: "\e646" !important; }
	.icon-payment:before { content: "\e647" !important; }
	.icon-phone:before { content: "\e648" !important; }
	.icon-phone-circle:before { content: "\e649" !important; }
	.icon-quote:before { content: "\e64a" !important; }
	.icon-rating:before { content: "\e677" !important; }
	.icon-refresh:before { content: "\e673" !important; }
	.icon-remove:before { content: "\e64b" !important; }
	.icon-remove-circle:before { content: "\e64c" !important; }
	.icon-remove-circle-reverse:before { content: "\e64d" !important; }
	.icon-rss:before { content: "\e64e" !important; }
	.icon-rss-enclosed:before { content: "\e64f" !important; }
	.icon-save:before { content: "\e650" !important; }
	.icon-script:before { content: "\e651" !important; }
	.icon-search:before { content: "\e652" !important; }
	.icon-search-boxed-reverse:before { content: "\e653" !important; }
	.icon-secure:before { content: "\e680" !important; }
	.icon-server:before { content: "\e654" !important; }
	.icon-simulink:before { content: "\e67e" !important; }
	.icon-smartphone:before { content: "\e655" !important; }
	.icon-spinner:before { content: "\e672" !important; }
	.icon-startup:before { content: "\e656" !important; }
	.icon-store:before { content: "\e657" !important; }
	.icon-student:before { content: "\e658" !important; }
	.icon-submit:before { content: "\e659" !important; }
	.icon-support:before { content: "\e675" !important; }
	.icon-supported:before { content: "\e65a" !important; }
	.icon-systemobject:before { content: "\e65b" !important; }
	.icon-system-requirements:before { content: "\e65c" !important; }
	.icon-techkit:before { content: "\e65d" !important; }
	.icon-technical-article:before { content: "\e67d" !important; }
	.icon-training:before { content: "\e65e" !important; }
	.icon-trendy:before { content: "\e67b" !important; }
	.icon-trial-circle:before { content: "\e65f" !important; }
	.icon-tutorial:before { content: "\e660" !important; }
	.icon-university:before { content: "\e661" !important; }
	.icon-unlocked:before { content: "\e662" !important; }
	.icon-upload:before { content: "\e684" !important; }	
	.icon-userstory:before { content: "\e663" !important; }
	.icon-video:before { content: "\e664" !important; }
	.icon-video-cc:before { content: "\e665" !important; }
	.icon-video-contract:before { content: "\e666" !important; }
	.icon-video-expand:before { content: "\e667" !important; }
	.icon-video-locked:before { content: "\e668" !important; }
	.icon-video-locked-reverse:before { content: "\e669" !important; }
	.icon-webinar:before { content: "\e66a" !important; }
	.icon-zoomin:before { content: "\e66b" !important; }
	.icon-zoomout:before { content: "\e66c" !important; }

	/* Icon Font: mathworks-eps Available Icons */
	.icon-mw-application-instance:before { content: "\e600" !important; }
	.icon-mw-archives:before { content: "\e602" !important; }
	.icon-mw-badge:before { content: "\e604" !important; }
	.icon-mw-circle:before { content: "\e605" !important; }
	.icon-mw-comment:before { content: "\e606" !important; }
	.icon-mw-copy:before { content: "\e608" !important; }
	.icon-mw-folder:before { content: "\e628" !important; }
	.icon-mw-folder-open:before { content: "\e629" !important; }
	.icon-mw-help:before { content: "\e609" !important; }
	.icon-mw-hot-pick:before { content: "\e60a" !important; }
	.icon-mw-license:before { content: "\e60b" !important; }
	.icon-mw-questions:before { content: "\e627" !important; }
	.icon-mw-report:before { content: "\e60d" !important; }
	.icon-mw-restart:before { content: "\e60e" !important; }
	.icon-mw-run:before { content: "\e60f" !important; }
	.icon-mw-running:before { content: "\e610" !important; }
	.icon-mw-server:before { content: "\e612" !important; }
	.icon-mw-server-instance:before { content: "\e613" !important; }
	.icon-mw-server-local:before { content: "\e615" !important; }
	.icon-mw-stop:before { content: "\e623" !important; }
	.icon-mw-trash:before { content: "\e624" !important; }
	.icon-mw-trendy-plot:before { content: "\e625" !important; }
	.icon-mw-watch:before { content: "\e626" !important; }

	/* Icon Font: Form Validation */
	.glyphicon.glyphicon-remove:before { content: "\e605" !important; }
	.glyphicon.glyphicon-ok:before { content: "\e607" !important; }

	/* Icon Font: Colors */
	.icon-alert-error.icon_alert_color {  color: #cc3729; }
	.icon-alert-info-reverse.icon_alert_color { color: #45a5e5; }
	.icon-alert-success.icon_alert_color { color: #5bad28; }
	.icon-alert-warning.icon_alert_color { color: #ffc300; }

	span.icon_color_null,
	.icon_color_null:before { color: #fff; }

	span.icon_color_general,
	.icon_color_general:before { color: #666; }

	span.icon_color_primary,
	.icon_color_primary:before { color: #3c3c3c; }

	span.icon_color_secondary,
	.icon_color_secondary:before { color: #205592; }

	span.icon_color_tertiary,
	.icon_color_tertiary:before { color: #009915; }

	span.icon_color_quaternary,
	.icon_color_quaternary:before { color: #eea600; }	
	
	span.icon_color_quinary,
	.icon_color_quinary:before { color: #00ace8; }
		
	span.icon_color_senary,
	.icon_color_senary:before { color: #79dafc; }	
	
	span.icon_color_septenary,
	.icon_color_septenary:before { color: #07b38c; }	

	span.icon_color_emphasize,
	.icon_color_emphasize:before { color: #c45400; }


/* ---- Tables ---- */

	/* Tables: Table Width */
	table.table_20 { width: 20%; }
	table.table_25 { width: 25%; }
	table.table_33 { width: 33.3333%; }
	table.table_35 { width: 35%; }
	table.table_40 { width: 40%; }
	table.table_50 { width: 50%; }
	table.table_60 { width: 60%; }
	table.table_65 { width: 65%; }
	table.table_66 { width: 66.6666%; }
	table.table_70 { width: 70%; }
	table.table_100 { width: 100%; }

	/* Tables: Table-Cell Width */
	.cell_5 { width: 5%; }
	.cell_10 { width: 10%; }
	.cell_15 { width: 15%; }
	.cell_20 { width: 20%; }
	.cell_25 { width: 25%; }
	.cell_30 { width: 30%; }
	.cell_33 { width: 33.333%; }
	.cell_35 { width: 35%; }
	.cell_40 { width: 40%; }
	.cell_45 { width: 45%; }
	.cell_50 { width: 50%; }
	.cell_55 { width: 55%; }
	.cell_60 { width: 60%; }
	.cell_65 { width: 65%; }
	.cell_66 { width: 66.666%; }
	.cell_70 { width: 70%; }
	.cell_75 { width: 75%; }
	.cell_80 { width: 80%; }
	.cell_85 { width: 85%; }
	.cell_90 { width: 90%; }
	.cell_95 { width: 95%; }
	.cell_100 { width: 100%; }	

	/* Tables: Table-Cell Padding */
	td.padded_5,
	table.padded_5 td { padding: 5px; }
	
	td.padded_10,
	table.padded_10 td { padding: 10px; }
	
	td.padded_15,
	table.padded_15 td { padding: 15px; }

	td.padded_20,
	table.padded_20 td { padding: 20px; }

	/* Tables: Table-Cell Vertical Alignment */
	td.valign_center { vertical-align: middle; }
	td.valign_bottom { vertical-align: bottom; }

	/* Tables: Table-Cell Colors */
	.table th.general,
	.table td.general,
	.table tr.general > th,
	.table tr.general > td,
	.table-striped > tbody > tr.general:nth-child(odd) > th,
	.table-striped > tbody > tr.general:nth-child(odd) > td { background-color: #f5f5f5; }

	.table th.primary,
	.table td.primary,
	.table tr.primary > th,
	.table tr.primary > td,
	.table-striped > tbody > tr.primary:nth-child(odd) > th,
	.table-striped > tbody > tr.primary:nth-child(odd) > td { background-color: #686868; color: #fff; }

	.table th.secondary,
	.table td.secondary,
	.table tr.secondary > th,
	.table tr.secondary > td,
	.table-striped > tbody > tr.secondary:nth-child(odd) > th,
	.table-striped > tbody > tr.secondary:nth-child(odd) > td { background-color: #6fb2dc; color: #fff; }

	.table th.tertiary,
	.table td.tertiary,
	.table tr.tertiary > th,
	.table tr.tertiary > td,
	.table-striped > tbody > tr.tertiary:nth-child(odd) > th,
	.table-striped > tbody > tr.tertiary:nth-child(odd) > td { background-color: #009915; color: #fff; }

	.table th.quaternary,
	.table td.quaternary,
	.table tr.quaternary > th,
	.table tr.quaternary > td,
	.table-striped > tbody > tr.quaternary:nth-child(odd) > th,
	.table-striped > tbody > tr.quaternary:nth-child(odd) > td { background-color: #e8941a; color: #fff; }
	
	.table th.quinary,
	.table td.quinary,
	.table tr.quinary > th,
	.table tr.quinary > td,
	.table-striped > tbody > tr.quinary:nth-child(odd) > th,
	.table-striped > tbody > tr.quinary:nth-child(odd) > td { background-color: #14a0d1; color: #fff; }
	
	.table th.senary,
	.table td.senary,
	.table tr.senary > th,
	.table tr.senary > td,
	.table-striped > tbody > tr.senary:nth-child(odd) > th,
	.table-striped > tbody > tr.senary:nth-child(odd) > td { background-color: #81cfea; color: #fff; }
	
	.table th.septenary,
	.table td.septenary,
	.table tr.septenary > th,
	.table tr.septenary > td,
	.table-striped > tbody > tr.septenary:nth-child(odd) > th,
	.table-striped > tbody > tr.septenary:nth-child(odd) > td { background-color: #129c7d; color: #fff; }

	.table th.emphasize,
	.table td.emphasize,
	.table tr.emphasize > th,
	.table tr.emphasize > td,
	.table-striped > tbody > tr.emphasize:nth-child(odd) > th,
	.table-striped > tbody > tr.emphasize:nth-child(odd) > td { background-color: #c45400; color: #fff; }

		/* Table-Cell Colors: Fix for Boostrap Default; */
		.table-striped > tbody > tr.active:nth-child(odd) > th,
		.table-striped > tbody > tr.active:nth-child(odd) > td { background-color: #f5f5f5; }

		.table-striped > tbody > tr.danger:nth-child(odd) > th,
		.table-striped > tbody > tr.danger:nth-child(odd) > td { background-color: #f2dede; }

		.table-striped > tbody > tr.info:nth-child(odd) > th,
		.table-striped > tbody > tr.info:nth-child(odd) > td { background-color: #d9edf7; }	

		.table-striped > tbody > tr.success:nth-child(odd) > th,
		.table-striped > tbody > tr.success:nth-child(odd) > td { background-color: #dff0d8; }

		.table-striped > tbody > tr.warning:nth-child(odd) > th,
		.table-striped > tbody > tr.warning:nth-child(odd) > td { background-color: #fcf8e3; }

	/* Tables: Table-Cell Hover Colors */
	.table-hover > tbody.general > tr:hover > td,
	.table-hover > tbody.general > tr:hover > th { background-color: #f5f5f5; }

	.table-hover > tbody.primary > tr:hover > td,
	.table-hover > tbody.primary > tr:hover > th { background-color: #686868; color: #fff; }

	.table-hover > tbody.secondary > tr:hover > td,
	.table-hover > tbody.secondary > tr:hover > th { background-color: #205592; color: #fff; }

	.table-hover > tbody.tertiary > tr:hover > td,
	.table-hover > tbody.tertiary > tr:hover > th { background-color: #009915; color: #fff; }

	.table-hover > tbody.quaternary > tr:hover > td,
	.table-hover > tbody.quaternary > tr:hover > th { background-color: #e8941a; color: #fff; }
	
	.table-hover > tbody.quinary > tr:hover > td,
	.table-hover > tbody.quinary > tr:hover > th { background-color: #14a0d1; color: #fff; }
	
	.table-hover > tbody.senary > tr:hover > td,
	.table-hover > tbody.senary > tr:hover > th { background-color: #81cfea; color: #fff; }
	
	.table-hover > tbody.septenary > tr:hover > td,
	.table-hover > tbody.septenary > tr:hover > th { background-color: #129c7d; color: #fff; }

	.table-hover > tbody.emphasize > tr:hover > td,
	.table-hover > tbody.emphasize > tr:hover > th { background-color: #c45400; color: #fff; }		



/* ------------------------------------
$ Lightbox
------------------------------------ */
/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */

.ekko-lightbox-container { position: relative; }
.ekko-lightbox-container iframe { width: 100% !important; height: 100%; overflow: hidden; }

.ekko-lightbox-nav-overlay { height: 100%; width: 100%; left: 0; position: absolute; top: 0; z-index: 100; }
.ekko-lightbox-nav-overlay a { height: 100%; width: 49%; padding-top: 45%; color: #fff; display: block; font-size: 30px; opacity: 0; text-shadow: 2px 2px 4px #000; transition: opacity 0.5s; z-index: 100; }
.ekko-lightbox-nav-overlay a:empty { width: 49%; }
.ekko-lightbox a:hover { text-decoration: none; opacity: 1; }

.ekko-lightbox .glyphicon-chevron-left { padding-left: 15px; float: left; left: 0; text-align: left; }
.ekko-lightbox .glyphicon-chevron-right { padding-right: 15px; float: right; right: 0; text-align: right; }
  
.ekko-lightbox .modal-body { overflow: hidden; }

.ekko-lightbox .modal-footer { text-align: left; }



/* ------------------------------------
$ Downsize
------------------------------------ */
section.section_downsize { font-size: 86%; }

section.section_downsize h1,
section.section_downsize .h1 { font-size: 28px; }
section.section_downsize h2,
section.section_downsize .h2 { font-size: 24px; }
section.section_downsize h3,
section.section_downsize .h3 { font-size: 19px; }
section.section_downsize h4,
section.section_downsize .h4 { font-size: 17px; }	
section.section_downsize h5,
section.section_downsize .h5 { font-size: 16px; }
section.section_downsize h6,
section.section_downsize .h6 { font-size: 13px; }

section.section_downsize .panel-body h1,
section.section_downsize .panel-body .h1 { margin-bottom: 30px; }
section.section_downsize .panel-body h2,
section.section_downsize .panel-body .h2 { margin-bottom: 13px; }
section.section_downsize .panel-body h3,
section.section_downsize .panel-body .h3 { margin-bottom: 11px; }
section.section_downsize .panel-body h4,
section.section_downsize .panel-body .h4 { margin-bottom: 10px; }
section.section_downsize .panel-body h5,
section.section_downsize .panel-body .h5 { margin-bottom: 9px; }
section.section_downsize .panel-body h6,
section.section_downsize .panel-body .h6 { margin-bottom: 9px; }

section.section_downsize ul > li,
section.section_downsize ol > li { margin-bottom: 6px; }

section.section_downsize blockquote { font-size: 15px; }

section.section_downsize .caption,
section.section_downsize .video-caption,
section.section_downsize .thumbnail .caption { font-size: 13px; }

section.section_downsize a[class*="icon-"]:before { font-size: 16px; /*line-height: 1.00;*/ }





	




































/* ------------------------------------
$ To Be Code Reviewed
------------------------------------ */
/* 
 All CSS changes/addtions/edits MUST be code reviewed before they can accepted as part of the site6 standards.

 Please add any working code below, and be sure to add you initials in the comments for your section.

 Once your work is complete, coordinate a code review with Ryan Johnson.  Code reviews should be scheduled before the end of Feature Freeze.
*/

/* Remove centering of thumbnail images  (GQ) */
.thumbnail a > img,
.thumbnail > img { margin-left: 0; margin-right: 0; } 



