/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Additive CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

*/

/* Fixes Requires */
/*
Conflict with the "collapse" class - Begin line 287
*/
/*-----------------------------------
   Bootstrap Overrides
-------------------------------------*/

/* ---- Tables ---- */
.table > tbody > tr > td { border-top: none; }



/*-----------------------------------
   Page Globals
-------------------------------------*/
#doc_center_content { color:#404040; }


	/* TopNav Highlighting */
	.topnav_support a,
	.topnav_support a:hover { border-radius: 4px; background: #e5ebf0; color: #52575e; }


/* ---- Hierarchy ---- */
#doc_center_content h1 { margin-bottom: 20px; border-bottom: 1px solid #cbcbcb; font-size: 28px; }
#doc_center_content h2 { margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; border-bottom: 1px solid #d4d4d4; }
#doc_center_content h3 { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; }
#doc_center_content h4 { margin-bottom: 8px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
#doc_center_content h5 { margin-bottom: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; }
#doc_center_content h6 { margin-bottom: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: normal; }


/*

#doc_center_content h2 { border-bottom: 1px solid #ccc; background-position: right bottom; background-repeat: no-repeat; color: #3c3c3c; font-size: 16px; }
#doc_center_content h3 { padding: 5px 0 0; margin: 0 0 1px 0; color: #b04200; line-height: 1.42; }
#doc_center_content h4 { color: #666; }
*/

	/* Hierarchy: Classes */
	#doc_center_content h1.r2015b,
	#doc_center_content h2.title.r2015b { padding-right: 61px; padding-bottom: 3px; background: url(/images/nextgen/doc_center/bg_h1_r2015b.png) no-repeat right bottom; font-family: Arial, Helvetica, sans-serif; color: #c45400; font-size: 28px; line-height: 1.0; font-weight: bold; }

	#doc_center_content h1.r2016a,
	#doc_center_content h2.title.r2016a { padding-right: 61px; padding-bottom: 3px; background: url(/images/nextgen/doc_center/bg_h1_r2016a.png) no-repeat right bottom; font-family: Arial, Helvetica, sans-serif; color: #c45400; font-size: 28px; line-height: 1.0; font-weight: bold; }
	
	h1.appicon { min-height: 18px; padding: 3px 44px 3px 0; background-position:right top; }

	h2.title { margin-bottom: 25px; color: #d55000; font-size:15px; font-weight:500; }
	h2 + table { margin-top: -8px; border-top: none; }	


	/* Whitespace Gecks */
	#doc_center_content { font-size: 12px; line-height:142% !important; }

	h2.title.r2015b,
	h2.title.r2016a,
	#doc_center_content h1 { font-size:22px !important; line-height: 22px !important; }
	#doc_center_content h2 { border-color:#ccc; font-size: 16px; line-height: 22px; padding-bottom: 0; margin-bottom: 8px; }
	#doc_center_content h3 { padding-top:5px; margin-bottom:2px; color:#b04200; font-size: 13px; line-height:142%; font-weight: bold; }
	#doc_center_content h4 { color:#000; font-size: 12px; line-height:142%; }

	#doc_center_content h2.title.r2015b,
	#doc_center_content h2.title.r2016a { margin-bottom: 20px; }


/* ---- Anchors ---- */
#doc_center_content span.anchor_target { width: 1px; height: 0px; display: inline-block; float: left; }


/* ---- Code ---- */
code { padding: 0; border-radius: 0; background-color: transparent; font-size: inherit; white-space: normal; }
pre.code { border: 0px; background: transparent none; font-size: 16px; }

pre { padding: 0; margin-bottom: 10px; border: none; border-radius: 0; background: transparent; color: inherit; font-size: inherit; line-height: inherit; word-break: normal; word-wrap: normal; }

	/* Code: Input/Output */
	pre.codeinput { padding: 10px; margin: 0 0 20px; border: 1px solid #d3d3d3; background: #f6f6f6; }
	pre.codeoutput { padding: 10px; margin: 0 0 20px; color: #4c4c4c; }

	div.programlisting { width: 100%; width: calc(100% - 10px); margin: 0 0 10px 10px; display: table; }
	div.programlisting div.codeinput { padding: 10px; border: 1px solid #ccc; background: #f6f6f6; display: table-cell; }
	div.programlisting div.codeoutput { padding:0 10px; }
	div.programlisting div.codeinput > pre,
	div.programlisting div.codeoutput > pre { margin-bottom: 0; }

		/* Input/Output: Force Scrolling on Long Items */
		.code_responsive { width: 100%; margin-bottom: 10px; /*border: 1px solid #ddd;*/ overflow-y: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
		.code_responsive > div.programlisting { margin-bottom: 0 !important; }	

		div.programlisting { display: block; overflow-x: auto; overflow-y: hidden; }
		div.programlisting div.codeinput,
		div.programlisting div.codeoutput { width: 100%; display: table; overflow: visible;  }
		div.programlisting div.codeinput pre,
		div.programlisting div.codeoutput pre { overflow: visible; word-break: normal; word-wrap: normal; }	

	.programlisting.codeinput { padding: 8px; margin: 0 0 12px 10px; border-color: #ccc; }
	.programlisting.codeoutput { padding: 0 8px; margin: 0 0 12px 10px; }	

	/* Code: Programlisting */
	pre.programlisting { /*padding: 10px; margin-left: 10px; border: 1px solid #ccc; background: #f6f6f6;*/ }
	pre.programlisting { margin-left: 10px; }

	/* Code: Synopsis (Similar <p> style) */
	pre.synopsis { margin-left:32px; }


/* ---- Color ---- */
.blue { color: blue; }
.red { color: red; }
.green { color: green; }
.violet { color: blueviolet; }
.orange { color: orange; }
.gray { color: #808080; }
.brown { color: #CC9933; }
.darkred { color: #CC0000; }
.black { color: black; }


/* ---- Definition Lists ---- */
dl dd { margin-left: 15px; }
dl dt { margin-bottom: 5px; }


/* ---- Lists ---- */
/*
ul,
ol { margin-bottom: 10px; }
*/

#doc_center_content ul > li { margin-bottom:5px; }
#doc_center_content ul > li > p,
#doc_center_content ol > li > p { margin-bottom: 5px; }


/* ---- Paragraphs ---- */
/* p { margin-bottom: 10px; } */

	/* Paragraphs: Copy */
	p.copy { margin: 0; }

	/* Paragraphs: Listprogramlistingindent */
	p.listprogramlistingindent { padding: 0px; margin-top: .8ex; margin-bottom: 1ex; margin-left: 32px; }

	/* Paragraphs: Pagenavlink */
	p.pagenavlink { padding: 10px 0 2px; margin-bottom: 15px; border-bottom: 1px dotted #6a6a6a; color: #0C54B6; text-align: right; text-transform: lowercase; }
	p.pagenavlink img { display: none; }
	p.pagenavlink a:before { content: "[ "; }
	p.pagenavlink a:after { content: " ]"; }
	a.pagenavimglink { text-decoration: none; display: none; }
	p.pagenavlink a:hover { text-decoration: underline; }

	/* Paragraphs: Programlistingindent */
	p.programlistingindent { margin-left:32px; }	

	/* Paragraphs: Synopsis  (Similar <pre> style) */
	p.synopsis { margin-left:32px; }


/* ---- Subscript / Superscript ---- */
/* Font Reset */
sup,
sub { font-size: 12px; }

sub { font-size: 75%; }
sup { font-size: 75%; top: -.75em; }

/* ---- Tables ---- */
#doc_center_content table { width:100%; margin-bottom: 12px; border: 1px solid #ccc; border-right: none; border-bottom: none; /* font-size: 11px; */ }
#doc_center_content table th  { padding: 6px 5px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #eaeaea; color: #000; font-weight: bold; text-align: left; vertical-align: middle; }
#doc_center_content table th.center { text-align: center; }
#doc_center_content table td { padding: 6px 5px; /* font-size: 12px; */ line-height: 1.42; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #fff; }

#doc_center_content table td p { margin-bottom: 0; }
#doc_center_content table td pre { margin-bottom: 0; }

#doc_center_content table td p + p,
#doc_center_content table td p + ul,
#doc_center_content table td p + ol,
#doc_center_content table td p + pre,
#doc_center_content table td pre + p,
#doc_center_content table td pre + ul,
#doc_center_content table td pre + ol,
#doc_center_content table td pre + pre { margin-top: 10px; }

	/* Tables: Table-Cell Width */
	.td_5 { width:5%; }
	.td_10 { width:10%; }
	.td_15 { width:15%; }
	.td_20 { width:20%; }
	.td_25 { width:25%; }
	.td_30 { width:30%; }
	.td_33 { width:33.333%; }
	.td_40 { width:40%; }
	.td_45 { width:45%; }
	.td_50 { width:50%; }
	.td_55 { width:55%; }
	.td_60 { width:60%; }
	.td_66 { width:66.666%; }
	.td_70 { width:70%; }
	.td_75 { width:75%; }
	.td_80 { width:80%; }
	.td_85 { width:85%; }
	.td_90 { width:90%; }
	.td_95 { width:95%; }

	/* Tables: Argumentlist */
	td.argumentlistentrycell { padding: 0 5px 0 0; /*border-top: none;*/ }
	td.argumentlistentrycell + td.argumentlistentrycell { padding:0 0 0 5px; }	

	/* Tables: Body */
	table.body { margin: 0 0 20px 0; border: 1px solid #ececec; border-right: none; border-bottom: none; }
	table.body th { padding: 7px 5px; border-right: 1px solid #ececec; border-bottom: 1px solid #ececec; background: #80a0c1 url(/images/nextgen/doc_center/bg_datatable_th_title.gif) repeat-x bottom left; color: #fff; font-size: 12px; line-height: 1.2; }
	table.body td { padding:5px; color:#404040; border-right:1px solid #ececec; border-bottom:1px solid #ececec; }
	table.body th p { margin-bottom: 0; }
	table.body p { margin-bottom: 10px; }

	/* Tables: Datatables */
	.datatable { border-color: #ccc; }
	.datatable td { padding: 6px 5px; border-color: #ccc; font-size: 12px; line-height: 1.42; }
	.datatable td pre { margin-bottom: 0; }
	.datatable td p { margin-bottom: 0; }
	.datatable td p + p,
	.datatable td p + ul,
	.datatable td p + ol,
	.datatable td p + pre { margin-top: 10px; }
	.datatable td pre + p,
	.datatable td pre + ul,
	.datatable td pre + ol,
	.datatable td pre + pre { margin-top: 10px; }
	.datatable .even { background: #f6f6f6; }

	/* Tables: Divider */
	#doc_center_content table.divider { border: none; border-bottom: 1px solid #ececec; }
	#doc_center_content table.divider td { height: 1px; padding: 0;  border: none; background: transparent !important; font-size: 1px; line-height: 1px; }
	#doc_center_content table.divider td img { display: none; }

	/* Tables: Doc Function Block */
	.doc_function_block table { width: 100%; }
	.doc_function_block td { padding: 2px 5px; }
	.doc_function_block td.term { width: 30%; font-family: monospace; /*font-size: 12px;*/ }
	.doc_function_block td.description { width: 70%; }

	/* Tables: Doc Block Block */
	.doc_block_block table { width: 100%; }
	.doc_block_block td { padding: 2px 5px; }
	.doc_block_block td.term { width: 30%; }
	.doc_block_block td.description { width: 70%; }

	/* Tables: Examples */
	.example_element td { border: none; }

	/* Tables: Functions */
	table td.term { width: 30%; }
	table td.description { width: 70%; }

	/* Tables: Layout */
	table.layout_table { border: none; }
	table.layout_table td { padding: 5px 10px 5px 0; border: none; }
	table.layout_table tr:nth-child(even) td { background: #fff; }

	/* Tables: Nav */
	table.nav  { background-color: #E7EBF7; }

	/* Tables: Note */
	table.note { background-color: #E7EBF7; }
	table.note td { padding: 10px 10px 0; }
	
	li table.note  { margin-top: .8ex; margin-bottom: 1ex; }
	dd table.note { margin-bottom: 1ex; }	

	/* Tables: Pagenavtable */
	.pagenavtable { margin: 0 0 15px 0; border: 1px solid #878787; }
	.pagenavtable th { padding: 5px; border-bottom: 1px solid #878787; background-color: #D7D7D7; color: #000; font-weight: bold; text-align: left; }
	.pagenavtable td { padding: 5px; text-align: left; vertical-align: top; }
	.pagenavtable td p { margin-top:.7ex; margin-bottom:.7ex; line-height:1.2em; }

	/* Tables: Programlistingindent */
	table.programlistingindent { width: 95% !important; margin-bottom: 20px; margin-left: 32px; }
	html body table.programlistingindent td img { float: left; }

	/* Tables: Reference Clusters */
	.collapse .ref_cluster table { background: transparent !important; }

	/* Harut */
	/*
	.ref_cluster_content table { border: none; border-top: 1px solid #ccc; }
	.ref_cluster_content td { padding: 3px 5px; }
	.ref_cluster_content tr + tr td { border-top: 1px solid #ccc; }
	*/
	
	/* 14b */
	.ref_cluster { padding-bottom:20px; }
	.ref_cluster_content { padding:0px; border:none; border-left:10px solid #e6e6e6; background:#f6f6f6; }
	.ref_cluster_content td { padding:6px 5px;  }
	.ref_cluster_content tr + tr td { border-top:1px dotted #ccc; }

	h2 + .ref_cluster .ref_cluster_content table { border-top: none; }

	.ref_cluster td.term { width: 33%; padding: 2px 10px 2px 0; font-family: "Courier New", Courier, monospace; line-height: 1.3; word-break: break-all; word-wrap: break-word; }
	.ref_cluster td.description { width: 67%; padding: 2px 0 2px 0; line-height: 1.3; }
	
	.doc_blocksgroup_container .ref_cluster td.term { font-family:Arial, Helvetica, sans-serif; }		


	/* Tables: Responsive - From Boostrap - Making Available for All Breakpoints */
	.table-responsive { width: 100%; margin-bottom: 21px; /*border: 1px solid #ddd;*/ overflow-y: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
	.table-responsive > table { margin-bottom: 0 !important; }


	/* Tables: Simplelist */	
	table.simplelist_nottable_notlast { margin-bottom: 2ex; margin-left: 0px; }
	table.simplelist_nottable_last { margin-left: 0; }
	table.simplelist_table_notlast { margin-bottom: 2ex; margin-left: 0; }
	table.simplelist_table_last { margin-left: -3px; }

	#doc_center_content td table.simplelist_table_last { border: none; }
	#doc_center_content td table.simplelist_table_last td { border: none; }




/*-----------------------------------
   Site Elements
-------------------------------------*/

/* ---- App Image ---- */
.inline_app_image { max-width: 200px; height: auto; margin: 5px 0 10px 10px; float: right; }

/* ---- Compatibility Consideration ---- */
.compatibility_consideration { width: 16px; height: 16px; margin: 0 0 -2px 5px; background: transparent url(/images/nextgen/global/ico_warning.png) no-repeat center center; display: inline-block; }


/* ----  Expand / Collapse ---- */
	
	/* Expand / Collapse */
	.expand { padding-left: 12px; background: transparent url(/images/nextgen/supporting/apps/doc_center/ico-collapsed.png) no-repeat 0 12px; cursor: pointer; }
	.expand h2 { border-bottom: 0; }

	.expand.expanded { padding-left: 12px; background: transparent url(/images/nextgen/supporting/apps/doc_center/ico-expanded.png) no-repeat 0 14px; }
	.expander table.body { margin: 0 0 0 -4px; background: #fff; }

	/* Requires Fix
	.collapse { padding: 10px; margin-top: -5px; margin-bottom: 10px; background: #fafafa; display: none; font-size: 12px; }
	.collapse table { background:#fff; }
	.collapse p,
	.collapse ul,
	.collapse ol { margin-bottom: 12px; }
	*/

	/* More Results */
	.more_results { background: #f1f1f1; }
	.more_results a { width: 100%; padding: 5px 0; font-size: 10px; color: #5c5c5c; display: block; text-indent: 10px; }
	.more_results a:visited { color: #5c5c5c; }
	.more_results a:hover { color: #5c5c5c; }

	/* Reveal */
	.reveal { margin: -20px 0 20px; }
	.reveal .expand { padding-left: 0; background: none; }
	.reveal .collapse { padding: 0; margin: 0; background: transparent; }

	.reveal .expand.expanded { padding-left: 0; background: none; }

	.reveal .more_results { padding: 5px 0; overflow: hidden; }

	.reveal .more_results p { margin: 0 5px; padding: 2px 12px 2px 0; background: transparent url(/images/nextgen/doc_center/ico-more-results.png) no-repeat right center; color: #5c5c5c; float: left; font-size: 12px; line-height: 1.0; }
	.reveal .expanded .more_results p { background-image: url(/images/nextgen/doc_center/ico-less-results.png); }
	.reveal .more_results p:after { content: "more"; }
	.reveal .expanded .more_results p:after { content: "less"; }

		/* Reveal with Ref Clusters */
		.ref_cluster + .reveal { margin-top: -10px; }
		.collapse .ref_cluster { padding-bottom: 5px; }

	/* Category Page */

		/* Expand */	
		.starthere_container h2.expand { background-image: url(/images/nextgen/doc_center/bg_collapsed_nolink.gif); }
		.starthere_container h2.expanded { background-image: url(/images/nextgen/doc_center/bg_expanded_nolink.gif); }

		/* Collapse */		
		.starthere_container .collapse { padding-left: 0 !important; border-top: 1px solid #D6D4D4; }

	/* Function Reference Page */

		/* Expand */
		h3.expand { padding:5px 5px 5px 17px; margin-bottom: 5px; background-color: #fafafa; /*background-position: 5px 11px;*/ background-position: 5px 8px; clear: both; font-weight: normal; line-height: 1.5; }
		#doc_center_content h3.expand { /*font-size: 15px;*/ font-size: 12px; }
		h3.expand span.example_title { width: 100%; display: block; font-weight: normal; }
		h3.expand span.example_desc { width: 100%; color: #666; display: block; font-weight: normal; }

		h3.expand,
		h3.expand a,
		h3.expand a:hover,
		h3.expand a:visited,
		h3.expand span.example_title { color:#3c3c3c; }

		h3.expand.expanded { padding: 5px 5px 5px 17px; margin: 0 0 5px; background-color: #fafafa; /*background-position: 5px 13px;*/ background-position: 5px 9px; }

		.arguments h3.expand { float: none; }
		.arguments h3.expand span.example_desc { float: none; }

		.arguments .collapse { padding: 0 10px 10px; margin: 0 0 10px 0; float: none; } 
		
		.expand a:link,
		.expand a:visited { text-decoration: none; }

		.expandableContent a.external_link { padding-left: 10px; }

		/* Collapse */
		#expandableExamples .collapse { padding: 0 10px 10px; margin: 0 0 10px 0; }

	/* Product Landing Page - Delete? */
	.doc_categories h3.expand a,
	.doc_categories h3.expand a:hover,
	.doc_categories h3.expand a:visited { color: #005fce; }

	ul.doc_categories li .collapse { background: transparent; }

	/* Release Notes */
	#product_release_notes .expand { background-image: url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: 0 16px; overflow:hidden; }
	#product_release_notes .expand h2 { margin-top: 10px; margin-bottom: 0;  line-height: 1; }
	#product_release_notes .expand h4 { font-weight: normal; }
	#product_release_notes .expand .doc_topic_desc { padding: 0; margin: 0; display: block; border-top: 1px solid #fff; }
	#product_release_notes .expanded { background-image: url(/images/nextgen/global/bg_expanded_nolink.gif); }

	#product_release_notes .expanded .doc_topic_desc { border-top: 1px solid #CBCBCB; }
	#product_release_notes .collapse { padding: 10px 0 0; margin: 0 0 0 10px; background: transparent !important; }
	#product_release_notes .collapse .expand { background-position: 0 5px; }
	#product_release_notes .collapse .collapse { padding: 5px 0 0; border: none; }
	#product_release_notes .collapse h3 { margin: 0; padding: 10px 0 5px 0; }
	#product_release_notes .collapse h4 { margin: 0; padding: 0 0 5px; }
	#product_release_notes .collapse p,
	#product_release_notes .collapse ul { margin: 0; padding: 0 0 10px; }

	#product_release_notes .expand { margin-bottom: 0; }
	#product_release_notes .expand .switch { margin-top: -14px; display: none; }
	#product_release_notes .expanded .switch { display: block; }
	#product_release_notes .expand .no_topic_desc + .switch { width: 100%; padding: 0; margin: 0 0 0 -10px; text-align: right; }

	#product_release_notes .expand.no_content { background: none; cursor: default; }
	#product_release_notes .expand.no_content h2 { margin-bottom: 8px; }
	#product_release_notes .expand.no_content .doc_topic_desc { padding: 0; margin: -10px 0 0 0; border-top: none; display: block; }		

	/* Topic Page */
	.doc_functionsgroup_container.expandableContent { padding-bottom:15px; }
	#doc_center_content .doc_functionsgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_functionsgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_functionsgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_functionsgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_functionsgroup_container.expandableContent .collapse .doc_function_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_functionsgroup_container.expandableContent .collapse .doc_subgroup_container { margin-bottom:0px; }
	.doc_functionsgroup_container.expandableContent .collapse .doc_subgroup_container + .doc_subgroup_container { padding-top:12px; }

	.doc_blocksgroup_container.expandableContent { padding-bottom:15px; }
	#doc_center_content .doc_blocksgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_blocksgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_blocksgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_blocksgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_blocksgroup_container.expandableContent .collapse .doc_function_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_blocksgroup_container.expandableContent .collapse .doc_subgroup_container { margin-bottom:0px; }
	.doc_blocksgroup_container.expandableContent .collapse .doc_subgroup_container + .doc_subgroup_container { padding-top:12px; }

	.doc_configparamgroup_container.expandableContent { padding-bottom:15px; }
	#doc_center_content .doc_configparamgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_configparamgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_configparamgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_configparamgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_configparamgroup_container.expandableContent .collapse .doc_block_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_configparamgroup_container.expandableContent .collapse .doc_subgroup_container { margin-bottom:0px; }
	.doc_configparamgroup_container.expandableContent .collapse .doc_subgroup_container + .doc_subgroup_container { padding-top:12px; }

	.doc_classesgroup_container.expandableContent { padding-bottom:15px; }
	#doc_center_content .doc_classesgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_classesgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_classesgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_classesgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_classesgroup_container.expandableContent .collapse .doc_function_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_classesgroup_container.expandableContent .collapse .doc_function_block + .doc_function_block { padding-top:12px; }

	.doc_otherrefsgroup_container.expandableContent { margin-bottom:0px; padding-bottom:15px; }
	#doc_center_content .doc_otherrefsgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_otherrefsgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_otherrefsgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_otherrefsgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_otherrefsgroup_container.expandableContent .collapse .doc_function_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_otherrefsgroup_container.expandableContent .collapse .doc_function_block + .doc_function_block { padding-top:12px; }

	.doc_mdlguidelinesgroup_container.expandableContent { margin-bottom:0px; padding-bottom:15px; }
	#doc_center_content .doc_mdlguidelinesgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_mdlguidelinesgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_mdlguidelinesgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_mdlguidelinesgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_mdlguidelinesgroup_container.expandableContent .collapse .doc_block_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_mdlguidelinesgroup_container.expandableContent .collapse .doc_block_block + .doc_block_block { padding-top:12px; }

	.doc_mdlchecksgroup_container.expandableContent { margin-bottom:0px; padding-bottom:15px; }
	#doc_center_content .doc_mdlchecksgroup_container.expandableContent h2 { margin-bottom: 5px; }
	.doc_mdlchecksgroup_container.expandableContent h2.expand { margin:0px; border:none; background-image:url(/images/nextgen/global/bg_collapsed_nolink.gif); background-position: left 6px; }
	.doc_mdlchecksgroup_container.expandableContent h2.expanded { background-image:url(/images/nextgen/global/bg_expanded_nolink.gif); background-position: left center; }
	.doc_mdlchecksgroup_container.expandableContent .collapse { padding:0px; margin:0px; }
	.doc_mdlchecksgroup_container.expandableContent .collapse .doc_block_block { padding-bottom:0px; margin:0px; background:transparent none; border:none; }
	.doc_mdlchecksgroup_container.expandableContent .collapse .doc_block_block + .doc_block_block { padding-top:12px; }


/* ---- Image Scaling ---- Delete? */
/*
#content_container2 .scaled-image,
#content_container .scaled-image,
#doc_center_content .scaled-image { width: auto; max-width: 400px; height: auto; max-height: 300px; padding: 5px 5px 20px 5px; border: 1px dashed #D6D6D6; background: #fff url(/images/nextgen/doc_center/ico_zoom_in.png) no-repeat bottom right; cursor: pointer; } 

#content_container2 .expanded-image,
#content_container .expanded-image,
#doc_center_content .expanded-image { padding: 5px 5px 20px 5px; background-image: url(/images/nextgen/doc_center/ico_zoom_out.png); }
*/
#content_container2 img.animated-image,
#content_container img.animated-image,
#doc_center_content img.animated-image { width: auto; max-width: 400px; height: auto; max-height: 300px; padding: 5px 5px 20px 5px; border: 1px dashed #D6D6D6; background: #fff url(/images/nextgen/doc_center/ico-animation-play.png) no-repeat bottom right; cursor: pointer; } 

#content_container2 img.dynamic-image,
#content_container img.dynamic-image,
#doc_center_content img.dynamic-image { padding: 5px 5px 20px 5px; background-image: url(/images/nextgen/doc_center/ico-animation-stop.png); }



/* ---- Loading Animation ---- */
#loading_animation { width :65%; margin: 120px auto 0; }


/* ---- Hinting ---- */
.anchor_hinting { background-color: #BDEDFF !important; }


/* ----  MathML ---- */
 i.inlinemath { font-family: "Bitstream Vera Serif","Cambria","Times","Times New Roman",serif !important; }
 i.inlinemath + sub { bottom: -.3em; font-family: "Bitstream Vera Serif","Cambria","Times","Times New Roman",serif !important; position: relative; }


/* ---- MuPad ---- Responsive-ification Needed */
.mupad_code { padding: 0 0 1px 0; margin-bottom: 20px; border-left: 1px solid #808080; background: transparent url(/images/nextgen/doc_center/bg-mupad-code-separator.png) no-repeat bottom left; }
.mupad_code .mupad_input { margin: 0; padding: 1px 0 1px 10px; color: #ff0000; background: transparent url(/images/nextgen/doc_center/bg-mupad-code-separator.png) no-repeat top left; }
.mupad_code .mupad_output { margin: 0; padding: 1px 0 1px 10px; color: #5500ff; background: transparent url(/images/nextgen/doc_center/bg-mupad-code-separator.png) no-repeat top left; }

.mupad_code pre.programlisting { margin-left: 0; }
.mupad_code p.programlistingindent { margin-left: 0; }

	/* MuPad: Warning */
	.form_alert_container { padding:15px 15px 15px 62px; margin:0px 0px 20px 0px; min-height:40px; font-size:0.9em; line-height:140%; border:2px solid #D79C40; }
	#doc_center_content .form_alert_container h3 { color:#d79c40; }
	.form_alert_container p, .form_alert_container ul { margin-bottom:15px; }

	.form_alert_container.mupad { padding-left: 15px; background: none; }
	.form_alert_container.mupad h3 { padding-top: 0; margin-bottom: 5px; }
	.form_alert_container.mupad p { margin-bottom: 0; }
	.form_alert_container.mupad p + p { margin-top: 10px; }


/* ---- PreRelease Warning ---- Responsive-ification Needed */
.doc_nda_notice { margin-bottom: 15px; border: 2px solid #6a98c4; background: transparent url(/images/nextgen/global/ico_global_info.png) no-repeat 10px center; font-size: 11px; font-weight: bold; line-height: 1.0; clear:right; }
.doc_nda_notice p { padding: 10px 10px 10px 30px; margin-bottom: 0; }


/* ---- Product and Web Specific Links ---- */
.open_example { padding: 0 0 1px 0; margin: 0 0 10px 10px; border: 1px solid #aeaeae; border-radius: 5px; background: #fff; background: linear-gradient(top, #fff 0%, #e6e6e6 100%); display: block; float: right; font-size: 11px; }
.open_example:hover { background: #f3f3f3; background: linear-gradient(top, #f3f3f3 0%, #d7d7d7 100%); }
.open_example a { padding: 6px 10px; line-height: 1.3; float:left; }

	/* Product and Web Specific Links: Hide/Show - Responsive-ification Needed: visible_product hidden_web; */
	.execmatlabproduct { display: none; }
	.execmatlabweb { display: inline; }

	.prodgroup { display: none; }
	.prodlink { display: none; }
	.product-link { display: none; }

	.coming_from_product,
	div.coming_from_product { display: none; }

	.not_coming_from_product,
	div.not_coming_from_product { display: block; }

	.execmatlabproduct.video { display: none; }
	.execmatlabweb.video { display: inline-block; }

	.support_package_list { display: none; }

	/* MATLAB: Links */
	#dialog-body pre { padding: 9.5px; margin: 0 0 21px; border: 1px solid #ccc; border-radius: 4px; background-color: #f5f5f5; color: #333; display: block; font-size: 13px; line-height: 1.467; word-break: break-all; word-wrap: break-word;	}


/* ---- Search ---- Responsive-ification Needed */

	/* Search: Suggestions */
	#suggestions { padding: 0; margin: 0 43px 0 0; border: 1px solid #cbcbcb; background: #fff; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); color: #000; display: none; font-size: 12px; position: absolute; z-index: 1040; }

	.suggestionheader { padding: 6px 7px; margin: 0; background: #dbe4ef; color: #404040; font-weight: bold; line-height: 1.0; } 
	.suggestionarea { padding: 1px 0 0; overflow-x: hidden; overflow-y: auto; }
	.suggestion { width: 100%; padding: 4px 0; margin: 0 0 1px 0; color: #000; cursor: pointer; float: left; line-height: 1.0; }
	.suggestiontext { width: auto; padding-left: 28px; float: left; }
	.suggestionprod { width: auto; padding-right: 10px; float: right; }

		/* Search Suggestions: Icons */
		.blk_suggestion { background: url(/images/nextgen/doc_center/ico_blocks.png) no-repeat 7px 2px; }
		.fcn_suggestion { background: url(/images/nextgen/doc_center/ico_function.png) no-repeat 7px 4px; }
		.cat_suggestion { background: url(/images/nextgen/doc_center/ico_category.png) no-repeat 7px 2px; }
		.so_suggestion { background: url(/images/nextgen/doc_center/ico_sysobjects.png) no-repeat 7px 3px; }

	.suggestionsummary { color: #666; font-style: italic; }
	.suggestionhighlight { color: #000; background-color: #dce3ed; font-style: normal; }
	.selected-suggestion { color: #000; background-color: #dbdbdb; }

	#wordarea .suggestion { padding-left: 7px; }

	.suggestmore { padding-left: 16px; color: #005fce; display: block; background: url(/images/nextgen/doc_center/bg_search_more_results.png) no-repeat 7px center; float: left; }
	#wordarea .suggestmore { padding-left: 16px; margin-left: -6px; color: #005fce; background: url(/images/nextgen/doc_center/bg_search_more_results.png) no-repeat 7px center; }

		/* Search Suggestions: Highlight Colors */
		.highlight_01 { background-color: #ff6; }
		.highlight_02 { background-color: #aff; }
		.highlight_03 { background-color: #9f9; }
		.highlight_04 { background-color: #f99; }
		.highlight_05 { background-color: #f6f; }		


/* ---- Survey / Feedback ---- Responsive-ification Needed */
table.feedbacklinktop { margin-top:10px; font-size: 11px; }
table.feedbacklinkbot { margin-top:10px; font-size: 11px; }

.feedbackblock { padding: 10px 0; text-align: right; }
.feedbackblock input { margin:0 0 0 5px; }



/*-----------------------------------
   Structure
-------------------------------------*/
/* ---- CTAs ---- */
/* See Responsive: Non-Mobile Below */


/* ---- Doc Center Content ---- */
#doc_center_content { min-height: 640px; line-height: 1.42 !important; }
#doc_center_content img { max-width: 100%; height: auto; }


/* ---- Footer ---- */
/* .footer { min-height: 0; } */


/* ---- Offcanvas ---- */
.offcanvas_actuator .offcanvas_actuator_label:before { content: "CONTENTS"; }

.sidebar-offcanvas ul.nav_breadcrumb > li,
.sidebar-offcanvas ul.nav_toc li { padding-left: 0; padding-right: 32px;  margin-bottom: 0; }
.sidebar-offcanvas ul.nav_breadcrumb > li > a,
.sidebar-offcanvas ul.nav_toc li a { padding: 6px 14px 6px 30px; color: #666; display: block; }

.sidebar-offcanvas ul.nav_toc li { padding-right: 0; }

.sidebar-offcanvas ul.nav_breadcrumb { padding-bottom: 3px; margin-bottom: 0; border-bottom:3px solid #d4d4d4; font-size: 11px; }
.sidebar-offcanvas ul.nav_breadcrumb > li { margin-bottom: 1px; position: relative; }
.sidebar-offcanvas ul.nav_breadcrumb > li:first-child { border-bottom: 3px solid #d4d4d4; }
.sidebar-offcanvas ul.nav_breadcrumb > li > a { padding-left: 30px; }
.sidebar-offcanvas ul.nav_breadcrumb > li > a:before { min-width: 12px; margin-left: -12px; content: "\e613"!important; display: inline-block; font-family: 'mathworks'; font-size: 11px; line-height: 1; font-style: normal; text-decoration: underline; }

	/* Offcanvas: Text Decoration Fix for :before in IE 8-11 */
	/* http://stackoverflow.com/a/21902566 */
	.sidebar-offcanvas ul.nav_breadcrumb > li > a:before,
	.sidebar-offcanvas ul.nav_breadcrumb > li > a:hover:before { text-decoration: none; }

.sidebar-offcanvas ul.nav_breadcrumb > li.support_breadcrumb { border-bottom: none; }
.sidebar-offcanvas ul.nav_breadcrumb > li.support_breadcrumb > a { padding-bottom: 1px; }

/*
.sidebar-offcanvas ul.nav_breadcrumb > li.active { background: #246997; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active > a { color: #fff; display: inline-block; }

.sidebar-offcanvas ul.nav_breadcrumb > li.active > a { color: #005fce; display: inline-block; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active > a:before { color: #005fce; }

.sidebar-offcanvas ul.nav_breadcrumb > li.active:not(.product) > a { padding: 3px 15px 3px 30px; font-size: 12px; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active:not(.product) > a { padding-top: 10px; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active:not(.product) + li.active:not(.product) > a { padding-top: 3px; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active:not(.product):last-child { border-bottom: 5px solid #246997; }
.sidebar-offcanvas ul.nav_breadcrumb > li.active:not(.product):last-child > a { padding-bottom: 10px; }
*/
.sidebar-offcanvas ul.nav_breadcrumb > li.product { padding-top: 5px; }
.sidebar-offcanvas ul.nav_breadcrumb > li + li > a { padding: 3px 15px 3px 30px; font-size: 12px; font-weight: bold; }
.sidebar-offcanvas ul.nav_breadcrumb > li.product .dropdown { width: 31px; border-left:1px solid rgba(255,255,255,.25); bottom: 0; cursor: pointer; position: absolute; right: 0; text-align: center; top: 0; }
.sidebar-offcanvas ul.nav_breadcrumb > li.product .dropdown .icon-arrow-down:before { content: "\e63e" !important; text-decoration: none !important; }
.sidebar-offcanvas ul.nav_breadcrumb > li.product .dropdown .icon-arrow-down:hover { color: #428bca; }
.sidebar-offcanvas ul.nav_breadcrumb > li.product .dropdown .icon_16 { opacity: 1; position: absolute; right: 7px; top: calc(50% - 9px); }
.sidebar-offcanvas ul.nav_breadcrumb > li.product .dropdown li { text-align: left; }

.sidebar-offcanvas ul.nav_toc > li.active > a { color: #000; font-size: 14px; font-weight: bold; }
/*
.sidebar-offcanvas ul.nav_toc li span.icon_16 { margin: 1px -21px 0 0; color: #666; font-size: 12px; float: right; }
*/

.sidebar-offcanvas ul.nav_toc { padding-top: 6px; border-top: 3px solid #d4d4d4; }
.sidebar-offcanvas ul.nav_toc > li { padding-left: 15px; padding-right: 5px; }
.sidebar-offcanvas ul.nav_toc li a { padding: 3px 14px 3px 30px; }

.sidebar-offcanvas ul.nav_toc > li > a { padding-left: 15px; padding-right: 10px; }
.sidebar-offcanvas ul.nav_toc > li > a:hover { background: #f1f1f1; text-decoration: none; }

.sidebar-offcanvas ul.nav_toc ul { padding-top: 0; margin-bottom: 0; /*background: #f1f1f1;*/ }
.sidebar-offcanvas ul.nav_toc ul > li { padding-right: 0; padding-left: 15px; }
.sidebar-offcanvas ul.nav_toc ul > li > a,
.sidebar-offcanvas ul.nav_toc ul > li > a:focus,
.sidebar-offcanvas ul.nav_toc ul > li > a:active,
.sidebar-offcanvas ul.nav_toc ul > li > a:visited { padding-right: 5px; padding-left: 15px; color: #000; }
.sidebar-offcanvas ul.nav_toc ul > li > a:hover { background: #f1f1f1; text-decoration: none; }




	/* Offcanvas: Disambiguation */
	.sidebar-offcanvas .nav_disambiguation { padding-top: 6px; padding-bottom:4px; margin-bottom:0; border-bottom:3px solid #d4d4d4; background: #fff; }
	.sidebar-offcanvas .nav_disambiguation > li { padding-left: 0; margin-bottom: 0; position: relative; }
	.sidebar-offcanvas .nav_disambiguation > li > a { padding: 3px 15px 3px 30px; color: #666; display: block; font-weight: bold; }
	.sidebar-offcanvas .nav_disambiguation > li > a:before { min-width: 12px; margin-left: -12px; content: "\e613"!important; display: inline-block; font-family: 'mathworks'; font-size: 11px; line-height: 1; font-style: normal; text-decoration: underline; }

		/* Disambiguation: Text Decoration Fix for :before in IE 8-11 */
		/* http://stackoverflow.com/a/21902566 */
		.sidebar-offcanvas .nav_disambiguation > li > a:before,		
		.sidebar-offcanvas .nav_disambiguation > li > a:hover:before { text-decoration: none; }

	.sidebar-offcanvas ul.nav_breadcrumb + ul.nav_disambiguation { margin-top: -10px; padding-top: 4px; }

	.sidebar-offcanvas .nav_disambiguation > li.product { padding-top: 5px; padding-right: 32px; }
	.sidebar-offcanvas .nav_disambiguation > li.product .dropdown { width: 31px; border-left:1px solid rgba(255,255,255,.25); bottom: 0; cursor: pointer; position: absolute; right: 0; text-align: center; top: 0; }
	.sidebar-offcanvas .nav_disambiguation > li.product .dropdown .icon-arrow-down:before { content: "\e63e" !important; text-decoration: none !important; }
	.sidebar-offcanvas .nav_disambiguation > li.product .dropdown .icon-arrow-down:hover { color: #428bca; }
	.sidebar-offcanvas .nav_disambiguation > li.product .dropdown .icon_16 { opacity: 1; position: absolute; right: 7px; top: calc(50% - 9px); }
	.sidebar-offcanvas .nav_disambiguation > li.product .dropdown li { text-align: left; }



		/* Disambiguation: Expand/Collpase */
		.sidebar-offcanvas .nav_disambiguation_overflow_control { padding: 9px 30px; border-bottom:3px solid #d4d4d4; color: #3468a5; cursor: pointer; display: block; font-weight: bold; }

		.sidebar-offcanvas .nav_disambiguation_overflow_control:before { content:"more..."; }
		.sidebar-offcanvas .collapse.in + .nav_disambiguation_overflow_control:before { content:"less..."; }

	/* Offcanvas: ScrollSpy */
	.sidebar-offcanvas .nav_scrollspy { padding-top:5px; }
	.sidebar-offcanvas .nav_scrollspy li { line-height: 1.35; }
	.sidebar-offcanvas .nav_scrollspy li.nav_scrollspy_function { padding-left: 15px; margin-bottom:4px; color: #c45400; font-weight: bold; }
	.sidebar-offcanvas .nav_scrollspy li.nav_scrollspy_function > a { color: #c45400; }
	.sidebar-offcanvas .nav_scrollspy li.nav_scrollspy_title { padding-left: 30px; margin-bottom: 3px; color:#c1c1c1;  text-transform: uppercase; }
	.sidebar-offcanvas .nav_scrollspy > li { padding-right: 5px; padding-left: 15px; margin-bottom: 0; }
	.sidebar-offcanvas .nav_scrollspy > li >  ul > li { padding-right: 0; padding-left: 15px; margin-bottom: 0px; }
	.sidebar-offcanvas .nav_scrollspy li a { padding: 4px 5px 3px 15px; color:#666; display:block; }
	.sidebar-offcanvas .nav_scrollspy li a:focus { background-color: transparent; }
	.sidebar-offcanvas .nav_scrollspy li a:hover { background: #f1f1f1; text-decoration: none; }

	/*.sidebar-offcanvas .nav_scrollspy ul > li { padding-left: 15px; }*/
	.sidebar-offcanvas .nav_scrollspy > li > ul { display: none; }
	.sidebar-offcanvas .nav_scrollspy > li.active > ul { padding-bottom: 5px; display: block; }
	.sidebar-offcanvas .nav_scrollspy li.active > a { font-weight: bold; }

	/* Offcanvas: Dropdown Menu */
	.sidebar-offcanvas .dropdown-menu { min-width: 245px; }
	/* .sidebar-offcanvas ul.dropdown-menu > li { padding-left: 0; } */
	.sidebar-offcanvas .dropdown-menu > li > a { /*padding-right: 15px; padding-left: 15px;*/ white-space: normal; }

	/* Offcanvas: Search */
	.search_template #sidebar .navbar-collapse { padding: 20px; font-size: 12px; }
	.search_template .search_refine_scroll { max-height: 200px; border-top: 1px solid #d6d4d4; overflow-y: auto; overflow-x: hidden; }
	.search_template .search_refine_scroll ul { border-top: none; }
	.search_template .search_refine h3 { border: 1px solid #fff; }
	.search_template .search_refine li.refined a { border-bottom: none; }


/* ---- Content ---- */
.content_container { padding-top: 0; }

	/* Fix for Locked Header w/o Content Container Padding */
	.sticky_header_container.affix ~ .row-offcanvas .content_container { padding-top: 96px; }


/* ---- Body Trail ---- */
.body_trail_container { font-size: 12px; }
.body_trail_container h4,
.body_trail_container h5 { font-family: Arial; }
.body_trail_container h4 { font-size: 14px; font-weight: bold; }


/* ---- Footer ---- */
.fat_footer_container { display: none; }




/*-----------------------------------
   Page Specific
-------------------------------------*/

/* ---- F1 Help ---- */
#responsive_offcanvas.navigation_off #doc_header_spacer { display: none !important; }
#responsive_offcanvas.navigation_off #header_mobile { display: none !important; }
#responsive_offcanvas.navigation_off .sticky_header_container { display: none; }
#responsive_offcanvas.navigation_off .row-offcanvas-left { margin-left: 0; left: 0 !important; }
#responsive_offcanvas.navigation_off .content_container { width: 100% !important; padding-top: 20px !important; }
#responsive_offcanvas.navigation_off .feedbackblock { display: none; }
#responsive_offcanvas.navigation_off .sidebar-offcanvas { display: none; }
#responsive_offcanvas.navigation_off .cta_container_mobile { display: none !important; }
#responsive_offcanvas.navigation_off .body_trail_container { display: none; }
#responsive_offcanvas.navigation_off #footer { display: none; }


/* ---- Doc Center Landing Page ---- */
h1 + .doc_families_container { margin-top: -20px; }

.doc_families_container { /*width: 100%; margin-bottom: 20px; background: #F3F3F3; font-size: 11px; overflow: hidden;*/ }
.doc_families_container ul { /*padding: 15px 20px; margin-bottom: 0;*/ }

/*
.landing_pg_intro { margin: -10px 0 0; padding: 0 0 10px; color: #878787; }
.landing_pg_intro p { margin-bottom: 10px; }
*/

.doc_archives { margin: -37px 0 0; float: right; font-size: 11px; text-align: right; }
.doc_archives p { margin-bottom: 0; }


/* ---- Product Landing Page ---- Delete? */
ul.doc_categories { padding-top: 0; }
ul.doc_categories li { padding: 12px; margin: 0; border-bottom: 1px solid #fff; background: #f3f3f3; font-size: 11px; line-height: 1.3; }
ul.doc_categories li h3 { width: auto !important; padding: 0 12px; margin-bottom: 0; background: #f3f3f3; display: block; font-size: 14px; font-weight: bold; line-height: 1.2; }
ul.doc_categories li h3.expand  { padding-left: 12px; background: #f3f3f3 url(/images/nextgen/global/bg_collapsed.gif) no-repeat 0 7px; cursor: pointer; float: none !important; }
ul.doc_categories li h3 a { text-decoration: none; }
ul.doc_categories li h3 a.open { padding-left: 12px; margin-left: -12px; background: #f3f3f3 url(/images/nextgen/global/bg_expanded.gif) no-repeat 0 7px;  }
ul.doc_categories li h3 span.category_desc { color: #000; font-size: 9px; font-weight: normal; line-height: 1.2; }
ul.doc_categories li p { padding-bottom: 12px; margin: 0; }
ul.doc_categories li ul { padding: 12px 0 0 12px; margin: 0; font-size: 13px; }
ul.doc_categories li ul li { padding: 3px 0; border: none; font-size: 12px; line-height: 1.3; }
ul.doc_categories li .collapse { width: 100%; padding: 0 !important; margin: 0 !important; float:none !important;  }

.doc_category_nav_head,
.doc_category_nav_foot { margin: 0 0 20px; background: #e5e5e5; font-size: 12px; overflow: hidden; }

.doc_category_nav_foot { margin-top: -10px; }

.doc_category_nav_head ul,
.doc_category_nav_foot ul { margin: 0; padding: 0; float: left; }

.doc_category_nav_head ul > li:before,
.doc_category_nav_foot ul > li:before { min-width: 0; margin-left: 0; content: none; display: inline; }

.doc_category_nav_head li,
.doc_category_nav_foot li { margin: 0 !important; padding: 0; border-right: 1px solid #fff; background: transparent none; float: left; }

.doc_category_nav_head li a,
.doc_category_nav_foot li a,
.doc_category_nav_head li a:visited,
.doc_category_nav_foot li a:visited { padding: 7px; color: #595959; display: block; float: left; line-height: 1; text-decoration: none; }

.doc_category_nav_head li a:hover,
.doc_category_nav_foot li a:hover { background-color: #6a6a6a; color: #fff; text-decoration: none; }

h1 + .doc_category_nav_head { margin-top: -20px; }
.doc_category_nav_head + .expand_container { margin-top: -19px; }
.doc_category_nav_head + .doc_families_container { margin-top: -19px; }

.doc_category_nav_foot { margin: -20px 0 20px; }

.doc_category_nav_foot li a.pdf { padding-left: 28px; background: url(/images/nextgen/global/ico_pdf.png) no-repeat 7px 4px; }
.doc_category_nav_foot li a.pdf:hover { background: #6a6a6a url(/images/nextgen/global/ico_pdf.png) no-repeat 7px 4px; }

	/* 15b */
	#pgtype-landingpage h3 { margin-bottom: 0; } 


/* ---- Topic Page ---- */
h1 + .doc_topic_desc { margin-top: -20px; }
h1 + #doc_topic_desc { margin-top: -20px; }
h1 + .switch { margin-top: -20px; padding-bottom: 10px; float: none; text-align: right; }

h2.title + .doc_topic_desc { margin-top: -20px; }
h2.title + #doc_topic_desc { margin-top: -20px; }

.doc_topic_desc,
#doc_topic_desc { padding: 3px 125px 0 0; margin: 0 0 15px; border-bottom: none; color: #6a6a6a; line-height: 1.3; overflow:hidden; }

.doc_topic_desc:empty { padding-top: 8px; margin-bottom: 0; }

.doc_topic_desc p { float: left; }
.doc_topic_desc p:empty { display: none; }
.doc_topic_desc .purpose_container p { color: #777777; /*font-family: "futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif; font-size: 15px; font-style: normal; font-weight: 400;*/ }

.doc_topic_desc p:empty + .switch { margin-top: 0; }

.switch + .doc_topic_desc { padding-right: 100px; margin: -10px 0 15px; border-top: 1px solid #CBCBCB; }
.doc_topic_desc .switch { width: 125px; padding: 3px 0 0; margin: 0 -125px 0 0; display: block; text-align: right; }

div.switch { margin: -10px 0 0; /*font-size: 13px;*/ font-size: 11px; float: right; }

ul.switch { margin: 0; font-size: 12px; float: right; }
ul.switch li { border-right: none; border-left: 1px solid #fff; }

.doc_function_block,
.doc_block_block { margin:0 0 20px; padding:10px 0 5px; border: 2px solid #fafafa; border-right: none; border-left: none; background: #fcfcfc; }

.doc_blocksgroup_container .doc_block_block,
.doc_functionsgroup_container .doc_function_block { padding: 0; border: none; background: transparent; }

h2 + .doc_function_block,
h2 + .doc_block_block { margin-top: -8px; }

h3 + .doc_function_block,
h3 + .doc_block_block { margin-top: -8px; }


/* ---- Category Page ---- */
.subcat_desc { margin-bottom: 7px; display: block; }
.dcenter_c1title + br + .subcat_desc { margin-top: -3px; }

h4 + p.subcat_desc { margin-top: 0; margin-bottom: 15px; }

.starthere_container { margin-bottom: 20px; }
.starthere_container h2 { margin: 0 0 0 -10px; border-bottom: none; cursor: pointer; }

p.subcat_desc { margin-top: -4px }
br.subcat_desc { margin-bottom: 6px }
div.doc_productdescgroup_container { margin-bottom: 20px; }
div.doc_productsetupgroup_container { margin-bottom: 20px; }
div.doc_tutorialsgroup_container { margin-bottom: 20px; }
div.doc_customgroup_container { margin-bottom: 20px; }
div.doc_subgroup_container { margin-bottom: 12px; }

.doc_productdescgroup_container + .doc_productsetupgroup_container { margin-top: -16px; }

	/* 15b */
	#pgtype-category .dcenter_c1title { /*font-size: 18px;*/ font-size: 13px; font-weight: bold; line-height: 142%; }
	#pgtype-category .subcat_desc { /*margin-bottom: 21px;*/ margin-bottom: 10px; display: block; }

	#pgtype-category .well { padding: 0; }
	#pgtype-category .well strong { padding: 0 19px 19px 19px; display: block; font-weight: normal; }
	#pgtype-category .well img { max-width: none; border-bottom: 1px solid #e3e3e3; }


	/* Equal Column Heights */
	.add_equal_heights > div[class*='col-'] > .well { width: 100%; }


/* ---- Reference Page ---- */
h1.reftitle { color: #990000; }
h1.reftitle { margin-top: 0; margin-bottom: 0; font-size: 3.7ex; font-weight: normal; }
h2.title { padding-right: 61px; background-position: right bottom; }
i.comment { color: red }

.categorytitle { margin-top: 8px; padding-top: 0; }
.subcategorytitle { margin-top: 8px; margin-bottom: 4px; padding-top: 0; padding-bottom: 0; }
.categorylist { background-color: #e1e6f2; }
.subcategorylist { background-color: #f3f4f5; }

.doc_otherrefsgroup_container { margin-bottom: 20px; }

p.switch { padding: 0; margin:-25px 0 5px; /*font-size: 13px;*/ font-size: 11px; float: right; }
a.expandAllLink { text-decoration: none; }


	/* Reference Clusters */
	.ref_cluster { width: 100%; padding: 0 0 20px; }
	.ref_cluster_content { padding: 0; margin: 0; /*border-left: 10px solid #e6e6e6; background: #f6f6f6;*/ }
	#doc_center_content .ref_cluster_content table { border: none; border-top: 1px solid #ccc; }
	#doc_center_content .ref_cluster_content table td { padding: 3px 5px; }
	.ref_cluster + .ref_cluster { margin-top: -10px; }

	.ref_cluster ul,
	.ref_cluster .collapse ul { margin-bottom:0px !important; }

	/* h2 + .ref_cluster { margin-top:-8px; } */

	/* Reference Sections */	
	.ref_sect { margin-bottom: 25px; }
	.ref_sect .descriptions .description_module { margin-bottom: 25px; }

	/* Syntax */
	/*
	.syntax_signature a { text-decoration: none; }
	.descriptions a { text-decoration: none; }
	*/

	/* Harut */
	/*
	#syntax { margin-bottom: 0; }
	.syntax_signature { margin-bottom: 25px; }
	.syntax_signature_module { margin-bottom: 25px; }
	.syntax_signature_module p { margin-bottom: 0; }
	.syntax_signature_module ul { width: 100%; padding: 0; margin: 0; }
	.syntax_signature_module ul > li:before { min-width: 0; margin-left: 0; content: none; display: inline; }
	#doc_center_content .syntax_signature_module li { padding: 2px 75px 2px 0; margin-bottom: 0; overflow: hidden; }
	.syntax_signature_module li + li { border-top: 1px solid #eaeaea; }
	.syntax_signature_module li .syntax_example { margin-right: -70px; display: block; float: right; font-size: 13px; text-align: right; }
	*/

	/* 14b */
	#syntax { margin-bottom:0px; }
	.syntax_signature { width:100%; margin-bottom:15px; /*overflow:hidden;*/ }
	.syntax_signature_module { padding:5px; margin:0px 0px 5px 0px; border:2px solid #fafafa; border-left:10px solid #f1f1f1; background:#fcfcfc; }
	.syntax_signature_module p { margin-bottom:0px; }
	.syntax_signature_module ul { width:100%; padding:0px; margin:0px; }
	.syntax_signature_module li { padding:0px 75px 0px 0px; margin:0px; background:transparent none; overflow:hidden; }
	.syntax_signature_module li:hover { background:#dddddd; }
	.syntax_signature_module li tt { padding-left:5px; float:left; }
	.syntax_signature_module li .syntax_example { margin-right:-70px; /*font-size:13px;*/ font-size: 11px; text-align:right; display:block; float:right; }

		/* Bootstrap 3.3.4 Fix */
		.syntax_signature code { white-space: nowrap; }

		/* Code Responsive */
		.syntax_signature .code_responsive { margin-bottom: 0; float: left; }

		/* Boostrap Version for Geck 1127741 */
		.syntax_signature_module { padding: 7px 15px; border: none; }
		.syntax_signature_module .row:hover { background: #ddd; }
		.syntax_signature_module .row .intrnllnk { float: right; font-size: 90%; }


	/* Description */
	#description { margin-bottom: 0; border: 0; }
	.descriptions { margin-bottom: 0; }
	.descriptions .description_module { /* padding: 0 10px 0 10px; margin-bottom: 15px; border: 2px solid #fcfcfc; border-top: 1px solid #cbcbcb; border-left: 10px solid #fcfcfc; background: #fcfcfc; */ }
	
	.descriptions .code_responsive { margin-bottom: 0; }
	/*
	.descriptions .description_module p { margin-bottom: 10px; line-height: 1.3; }
	.descriptions .description_module ul { margin-bottom: 10px; }
	.descriptions .description_module li { margin-bottom: 5px; line-height: 1.3; }
	*/
	.descriptions h3 { margin-bottom: 7px; }
	.descriptions h3 .syntax { padding: 2px 75px 2px 10px; margin: 0 -10px 0 -10px; border-top: 1px dotted #d6d4d4; display:block; font-weight: normal; }
	.descriptions h3 .syntax_example { margin: 0; font-size: 9px; font-weight: normal; float: right; }
	.descriptions p .syntax_example { margin: 0; font-size: 9px; font-weight: normal; float: right; }
	.argument_placeholder { padding: 0 3px; font-size: 9px; display: inline-block; font-weight: bold; }

	.description_element { padding: 0 85px 0 0; /* margin: 0 -10px;  display: block; */ font-weight: normal; }

	.description_element p,
	.description_element ul,
	.description_element ol { margin-top: 5px; margin-bottom: 5px; }

	.description_element .syntax_example { margin: 0 -85px 0 0 ; float: right; /*font-size: 13px;*/ font-size: 11px; text-align: right; }

	.description_element + .description_element { border-top: 1px solid #eaeaea; }

	/* Examples */
	.examples_container { margin-bottom: 20px; }
	#expandableExamples .example_desc p { margin-bottom: 0; }

	/* Input Arugments */	
	.input_argument_container { margin-bottom: 5px; }
	.input_argument_container h2 { margin: 7px 0 0 0; border: none; color: #3F3F3F; font-size: 12px; font-style: italic; }
	#input_argument_namevalue { padding-top: 15px; }
	#input_argument_namevalue img { margin: 0 0 -3px 5px; }
	#input_argument_namevalue .example_desc { display: block; font-size: 10px; font-weight: normal; }
		
	.argument_name tt { font-weight:bold; }

		/* Name / Value Pairs */
		#namevaluepairs { padding-top: 10px; }
		.namevaluecontainer { margin-bottom: 20px; color: #666; }
		.namevaluecontainer p { margin-bottom: 10px; }
		.description_valueexample { color: #666; }
		.datatypelist  { color: #666; }

	/* Output Arugments */	
	.output_argument_container { margin-bottom: 10px; }

	/* More About */	
	.moreabout_container { margin-bottom: 20px; }

	/* Compatibility */	
	.compatibility_container { width: 80%; margin-left: auto; margin-right: auto; padding: 1em; border: 1px solid #d6d4d4; }

	/* Release Introduced */	
	.release_introduced { padding: 10px 0; margin: 0 0 20px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.release_introduced h4 { margin-bottom: 0; }


/* ---- Release Notes ---- */
#product_release_notes .doc_category_nav_head { margin-bottom: 10px; }

#product_release_notes .compatibility_summary_content { border-top: none; }


/* ---- Examples ---- */
.example_element { width: 100%; margin-bottom: 5px; border: none; }

.example_element_thumb { width: 114px; height: 64px; padding: 5px 0; vertical-align: middle; }
.example_element_thumb img { max-width: 114px; max-height: 64px; margin: 0 auto; border: none; display: block; }
.example_element_thumb img { opacity: 0.99; } /* Firefox 3.6 Fix - Linux Help Browser */

.example_element_desc { padding: 10px 15px; vertical-align: middle; }

.example_element_type { width: 18%; text-align: center; vertical-align: middle; }
.example_element_type img { margin: 0 5px -2px 0 }


/* ---------- Search Results ---------- */
#search_result_pages { float: right; }
#search_result_pages a { padding: 0 0 0 2px; }

#resultSummaryTop { color: #6a6a6a; float: left; /*font-size: 12px; line-height: 1.3;*/ }
#searchAll { float: right; }

.searchResult { margin:0 0 15px 0; padding:0 0 0 25px; line-height: 1.4; }
.searchTitle { /*font-size: 12px;*/ font-weight: bold; }
.searchSummary { /*font-size: 11px;*/ color: #000; }

.highlightSummary { font-weight: bold; }
.searchHighlight { color: #6a6a6a; /*font-size: 11px;*/ }
.highlightKeyword { color: #000; font-weight: bold; }
.results-page-selected { padding: 0 0 0 2px; color: #000; font-weight: bold; }

.searchBreadcrumb { color: #228822; /*font-size: 11px;*/  }
.searchBreadcrumb a, 
.searchBreadcrumb a:visited { color: #228822; text-decoration: none; }
.searchBreadcrumb a:hover { color: #228822; text-decoration: underline; }

.searcherror { color: red; }


.sidebar-offcanvas ul.nav_breadcrumb { border-bottom:none; }
#facets_area { padding:20px; margin-right:0px; }
.search_refine h3 { color: #555; }
.search_refine a { color: #777; }

.search_refine .facet_title { color: #777; }

.search_refine li.refined > a:after { color: #777; }


  /* Search Results Nav: Type */
  .search_refine.type li.refinable a { padding-left: 27px; }
  .search_refine.type li.refined a { padding-left: 27px; }

/* Search Results: Header/Footer */
	#search_result_header,
	#search_result_footer { width: 100%; margin: 0 0 15px; /*font-size: 11px; line-height: 1.3;*/ color: #6a6a6a; float: left; clear: both; }

	#search_result_header { padding:0px 0px 2px; border-bottom: 1px dotted #6a6a6a; }
	#search_result_footer { padding:2px 0px 0px; border-top: 1px dotted #6a6a6a; }
	#resultSummaryBottom { float: left; }

	/* Search Results: Icons */
	.result_type_blk { background: transparent url(/images/nextgen/doc_center/ico_blocks.png) no-repeat 0 1px; }
	.result_type_cat { background: transparent url(/images/nextgen/doc_center/ico_category.png) no-repeat 0 2px; }
	.result_type_eh { background: transparent url(/images/nextgen/doc_center/ico_examples.png) no-repeat 0 2px; } 
	.result_type_fcn { background: transparent url(/images/nextgen/doc_center/ico_function.png) no-repeat 0 3px; }
	.result_type_con { background: transparent url(/images/nextgen/doc_center/ico_more.png) no-repeat 0 3px; } 
	.result_type_rn { background: transparent url(/images/nextgen/doc_center/ico_releasenotes.png) no-repeat 0 3px; } 
	.result_type_so { background: transparent url(/images/nextgen/doc_center/ico_sysobjects.png) no-repeat 0 3px; }


  /* Search Results Nav: Icons */ 

    /* Blocks Icon */
    .search_refine.type li.blk_type a { background-image: url(/images/nextgen/doc_center/ico_blocks.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* Examples Icon */
    .search_refine.type li.eh_type a { background-image: url(/images/nextgen/doc_center/ico_examples.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* Category Icon */
    .search_refine.type li.cat_type a { background-image: url(/images/nextgen/doc_center/ico_category.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* Function Icon */
    .search_refine.type li.fcn_type a { background-image: url(/images/nextgen/doc_center/ico_function.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* More About Icon */
    .search_refine.type li.con_type a { background-image: url(/images/nextgen/doc_center/ico_more.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* Release Notes Icon */
    .search_refine.type li.rn_type a { background-image: url(/images/nextgen/doc_center/ico_releasenotes.png); background-repeat:  no-repeat; background-position:  6px center; } 

    /* System Objects Icon */
    .search_refine.type li.so_type a { background-image: url(/images/nextgen/doc_center/ico_sysobjects.png); background-repeat:  no-repeat; background-position:  6px center; } 

	/* Search Results: Nuggets */
	.nugget_container { margin-top: 0; margin-bottom: 20px; }





/* ------------------------------------
$ Override CSS
------------------------------------ */

/* ---- Additive / Reductive CSS ---- */

	/* Add */
	span.accel { text-decoration: underline; }
	
	span.underline { text-decoration: underline; }

	.add_border_left:before,
	.add_border_right:after { bottom: 10px; }

	/* Remove */

		/* Remove: Vertically align inline images, especially equations. */
		img.baseline1 { vertical-align: -1px; }
		img.baseline2 { vertical-align: -2px; }
		img.baseline3 { vertical-align: -3px; }
		img.baseline4 { vertical-align: -4px; }
		img.baseline5 { vertical-align: -5px; }
		img.baseline6 { vertical-align: -6px; }
		img.baseline7 { vertical-align: -7px; }
		img.baseline8 { vertical-align: -8px; }
		img.baseline9 { vertical-align: -9px; }
		img.baseline10 { vertical-align: -10px; }
		img.baseline11 { vertical-align: -11px; }
		img.baseline12 { vertical-align: -12px; }
		img.baseline13 { vertical-align: -13px; }
		img.baseline14 { vertical-align: -14px; }
		img.baseline15 { vertical-align: -15px; }


/* ---- Icons ---- */
a.ico_interactive_learning { padding: 3px 0 3px 20px; background: url(/images/nextgen/supporting/apps/doc_center/ico-interactive-learning.png) no-repeat 0 2px; display: block; line-height: normal; }
a.video { padding: 3px 0 3px 20px; background: url(/images/nextgen/supporting/apps/doc_center/ico-video.png) no-repeat 0 1px; display: inline-block; line-height: normal; }




/*-----------------------------------
   Responsive
-----------------------------------*/

/* ---- Non-Mobile ---- */
@media only screen and (min-width: 768px) {

}


/* ---- Desktop Large ---- */
@media only screen and (min-width: 1200px) {

}


/* ---- Desktop Small ---- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}


/* ---- Tablet ---- */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/* ---- Mobile ---- */
@media only screen and (max-width: 767px) {

    /* Site Elements: Tables */
      /* Responsive Tables */
      .table-responsive > .table > thead > tr > th,
      .table-responsive > .table > tbody > tr > th,
      .table-responsive > .table > tfoot > tr > th,
      .table-responsive > .table > thead > tr > td,
      .table-responsive > .table > tbody > tr > td,
      .table-responsive > .table > tfoot > tr > td { white-space: normal; }
      
      #doc_center_content .table-responsive table { border:none; }

}











/* Whitespace Gecks */
.fat_footer h3 { padding:0px; color:#000; }

h3.expand { padding-top:0px; color:#005fce; }

p, ul, ol, pre { margin-bottom:10px; }
ul { padding-top:0px; }
ul li p { margin-bottom: 5px; }

pre { line-height:142%; }
pre.codeinput { background:#f6f6f6; }
pre.programlisting { margin-left:2em; }

.doc_topic_desc .purpose_container p { font-family:"futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif; font-style:normal; font-weight:400; letter-spacing:-.02em; font-size:1.2em; color:#555651; }
.doc_topic_desc p:empty { display:none; }
.doc_topic_desc p:empty + .switch { margin-top:0px; }
.doc_topic_desc:empty { padding-top:8px; margin-bottom:0px; } 

.programlisting.codeinput { padding:8px; margin:0px 0px 12px 10px; border-color:#ccc; }
.programlisting.codeoutput { padding:0px 8px; margin:0px 0px 12px 10px; }

.ref_cluster { margin-top: -8px; padding-bottom:20px; }
.ref_cluster_content { padding:0px; border:none; border-left:10px solid #e6e6e6; background:#f6f6f6; }
.ref_cluster_content td { padding:6px 5px;  }
.ref_cluster_content tr + tr td { border-top:1px dotted #ccc; }

.collapse .ref_cluster { margin-top: 0; }

.examples_container { margin-bottom:20px; }
.moreabout_container { margin-bottom:20px; }	

ul.doc_categories { padding-top:0px; }
.doc_category_nav_foot { margin-top:-10px; }

.datatable { border-color:#ccc; }
.datatable td { padding:6px 5px; font-size:1.1em; line-height:142%; border-color:#ccc; }
.datatable td pre { margin-bottom:0px; }
.datatable td p { margin-bottom:0px; }
.datatable td p + p, .datatable td p + ul, .datatable td p + ol, .datatable td p + pre { margin-top:10px; }
.datatable td pre + p, .datatable td pre + ul, .datatable td pre + ol, .datatable td pre + pre { margin-top:10px; }
.datatable .even { background:#f6f6f6; }

#doc_center_content table { margin-bottom:12px; border:1px solid #ccc; font-size:0.9em; }
#doc_center_content table th  { padding:6px 5px; color:#000; font-weight:bold; vertical-align:center; background:#eaeaea; border:1px solid #ccc; border-right:none; }
#doc_center_content table td { padding:3px 5px; font-size:1.1em; line-height:142%; border-color:#ccc; background:#fff; border-bottom:none; }
#doc_center_content table td pre { margin-bottom:0px; }
#doc_center_content table td p { margin-bottom:0px; }
#doc_center_content table td p + p, #doc_center_content table td p + ul, #doc_center_content table td p + ol, #doc_center_content table td p + pre { margin-top:10px; }
#doc_center_content table td pre + p, #doc_center_content table td pre + ul, #doc_center_content table td pre + ol, #doc_center_content table td pre + pre { margin-top:10px; }
#doc_center_content table { border-right:none; border-bottom:none; }
#doc_center_content table th, #doc_center_content table td { border-right:1px solid #ccc; border-bottom:1px solid #ccc; }

#doc_center_content table.simplelist_nottable_last { margin-left:0px; }
#doc_center_content table.simplelist_nottable_notlast { margin-left:0px; }

#doc_center_content td table.simplelist_table_last { border:none; }
#doc_center_content td table.simplelist_table_last td { border:none; }

#doc_center_content table.divider { border:none; border-bottom:1px solid #ececec; }
#doc_center_content table.divider td { height:1px; padding:0px; font-size:1px; line-height:1px; border:none; background:transparent !important; }
#doc_center_content table.divider td img { display:none; }

#doc_center_content h2 + table { margin-top:-8px; border-top:none; }

#doc_center_content td.argumentlistentrycell { border-top:none; }

.doc_productdescgroup_container  +  .doc_productsetupgroup_container { margin-top:-16px; }

#doc_center_content .ref_cluster_content table { border:none; border-top:1px solid #ccc; }
#doc_center_content h2 + .ref_cluster .ref_cluster_content table { border-top:none; }
#doc_center_content .ref_cluster_content table td { padding:3px 5px; }

#doc_center_content table.layout_table { border:none; }
#doc_center_content table.layout_table td { padding:5px 10px 5px 0px; border:none; }
#doc_center_content table.layout_table tr:nth-child(even) td { background:#fff; }

#doc_center_content .example_element { border:none; }
#doc_center_content .example_element td { border:none; }


/* Harut CSS Updates */
h1.r2015b,
h2.title.r2015b { padding-bottom:3px; font-family:Arial; font-size:22px; line-height:22px; font-weight:normal; }

h1.r2016a,
h2.title.r2016a { padding-bottom:3px; font-family:Arial; font-size:22px; line-height:22px; font-weight:normal; } 

h2 { font-size:16px; color:#3c3c3c; }

.syntax_signature { margin-top: -8px; }
.syntax_signature_module { border-color:#fcfcfc; background: #fcfcfc; }

#doc_center_content #description { margin-bottom: 0px; border: 0px; }

.descriptions .description_module { border-color:#fcfcfc; border-top:1px solid #cbcbcb; }
.description_element { border-top:none; }
.description_element + .description_element { border-top:1px dotted #D6D4D4; }

.ref_sect { margin-bottom:20px; }
.ref_sect .descriptions .description_module { margin-bottom: 0px; }

#doc_center_content #namevaluepairs { padding-top: 10px; }

#doc_center_content .collapse { padding:10px !important; background:#fafafa; }
.reveal .collapse { padding:0px !important; background:transparent; }

ul.doc_categories li .collapse { background:transparent; }

#doc_center_content .collapse { margin-top:-5px !important; }

.reveal .expand.expanded { padding-left:0px; background: none; }

/* 15a */
div.programlisting { width:100%; margin:0px 0px 10px; display:table; }
div.programlisting div.codeinput { padding:10px; border:1px solid #ccc; background:#f6f6f6; display:table-cell; }
div.programlisting div.codeinput > pre,
div.programlisting div.codeoutput > pre { margin-bottom:0px; }

#doc_center_content .inline_app_image { max-width:200px; height:auto; margin:5px 0px 10px 10px; float:right; }

.panel-heading { font-weight: bold; }
.panel-body *:last-child { margin-bottom: 0; }



/* 15b */
#doc_center_content table.table_borderless,
#doc_center_content table.table_borderless th,
#doc_center_content table.table_borderless td { border: none; }



/* ---- Subscript / Superscript ---- */
/* Font Reset */
sup,
sub { font-size: 12px; }

sub { font-size: 75%; }
sup { font-size: 75%; top: -.75em; }