<div id="TranslationIsOn">
  <div class="alert alert-info" > <span class="alert_icon icon-alert-info-reverse"></span>
    <h3>This is machine translation</h3>
    <p><div translate="no"> Translated by <a href="http://aka.ms/MicrosoftTranslatorAttribution" target="_blank"> <img src="../includes/web/images/msft_logo.png" alt="Microsoft" style="height:auto; width:100px; margin-top:-3px; display:inline-block;"> </a></div>
    	 Mouse over text to see original. Click the button below to return to the English verison of the page.</p>
    <button type="button" id="pageBack" translate="no" onclick="history.go(0);" class="btn btn-sm btn_secondary pull-right"> Back to English </button>
    <div class="clearfix"></div>
  </div>
</div>

<!-- Translation Modal: START -->
<div class="modal fade" id="translation_modal" tabindex="-1" role="dialog" aria-labelledby="translation_modal_label" translate="no">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="translation_modal_label">Translate This Page</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <select name="to" id="target-language" class="form-control">
            <option >Select Language</option>
            <option value="ar">Arabic</option>
            <option value="bg">Bulgarian</option>
            <option value="ca">Catalan</option>
            <option value="zh-CHS">Chinese Simplified</option>
            <option value="zh-CHT">Chinese Traditional</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="nl">Dutch</option>
            <option value="en">English</option>
            <option value="et">Estonian</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="ht">Haitian Creole</option>
            <option value="he">Hebrew</option>
            <option value="hi">Hindi</option>
            <option value="mww">Hmong Daw</option>
            <option value="hu">Hungarian</option>
            <option value="id">Indonesian</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="tlh">Klingon</option>
            <option value="ko">Korean</option>
            <option value="lv">Latvian</option>
            <option value="lt">Lithuanian</option>
            <option value="ms">Malay</option>
            <option value="mt">Maltese</option>
            <option value="no">Norwegian</option>
            <option value="fa">Persian</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="ro">Romanian</option>
            <option value="ru">Russian</option>
            <option value="sk">Slovak</option>
            <option value="sl">Slovenian</option>
            <option value="es">Spanish</option>
            <option value="sv">Swedish</option>
            <option value="th">Thai</option>
            <option value="tr">Turkish</option>
            <option value="uk">Ukrainian</option>
            <option value="ur">Urdu</option>
            <option value="vi">Vietnamese</option>
            <option value="cy">Welsh</option>
          </select>
        </div>
        <small class="add_font_color_general">
        <p class="add_margin_5"><strong>MathWorks Machine Translation</strong></p>
        <p>The automated translation of this page is provided by a general purpose third party translator tool.</p>
        <p>MathWorks does not warrant, and disclaims all liability for, the accuracy, suitability, or fitness for purpose of the translation.</p>
        </small> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="search" onclick="thisPageTranslate()">Translate</button>
      </div>
    </div>
  </div>
</div>
<style>
  html body { /*overflow-y:visible;*/ }
  #TranslationIsOn { display:none; }
</style>
<script src="http://www.microsoftTranslator.com/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=False&ui=true&settings=Manual&from=en" type="text/javascript"></script> 
<script>
  function thisPageTranslate() {
    $('#translation_modal').modal('hide')

    var targetLanguage = $("#target-language option:selected").val();
    Microsoft.Translator.Widget.Translate('en', targetLanguage);
    
    // to get the current url (or document.URL)
    
    var url = "";
  	if (typeof this.href === "undefined") {
  		url = document.location.toString();
  	}
  	else {
  		url = this.href.toString();
  	}
    
    if (targetLanguage !== "en") {
    	 $("#TranslationIsOn").toggle();
    }
    else {
    	 $("#TranslationIsOn").toggle();
    }         
    
  }

  function setTargetLangBasedLocale() {
   	var locale = (navigator.language || navigator.userLanguage).toLowerCase(); 
   	var localeLang = locale.split('-',1);	
    var num_langOptions = document.getElementById("target-language").length; 
       
    //default lang is set based on navigator's locale. If locale is English or no match found, set as "Select Language". 
    
    if (localeLang !== "en") {
    		var i = 0;  
  	    while (i<num_langOptions) {
  		      var lang = document.getElementById("target-language").options[i].value; 
  			    if ((lang == localeLang && localeLang != "zh") ||(lang == "zh-CHS" && locale == "zh-cn") || (lang == "zh-CHT" && locale == "zh-tw")) {
  				 	    document.getElementById("target-language").options[i].selected = true;
  				 	    break;
  			    }
  			    i++;
  	    }
  	  }
  } // setTargetLangBasedLocale

  $(document).ready(function() {
    $(".cta_box .list-inline").append('<li class="cta_item cta_item_general"><a href="#" class="icon-chat" data-toggle="modal" data-target="#translation_modal">Translate This Page</a></li>');
    setTargetLangBasedLocale();
  });
</script>
<style>
  #WidgetFloaterPanels { display:none !important; }
</style>
<!-- Translation Modal: END --> 