<div class="modal fade" id="matlab-command-dialog" tabindex="-1" role="dialog" aria-labelledby="matlabCommandDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">MATLAB 명령</h4>
      </div>
      <div class="modal-body" id="dialog-body">
        <p>아래 MATLAB 명령에 해당하는 링크를 클릭하셨습니다. </p>
        <pre id="dialog-matlab-command"></pre>
        <p>이 명령을 MATLAB 명령 창에 입력해 실행하십시오.
        웹 브라우저에서는 MATLAB 명령을 지원하지 않습니다.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>