<div class="modal fade" id="matlab-command-dialog" tabindex="-1" role="dialog" aria-labelledby="matlabCommandDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">MATLAB Command</h4>
      </div>
      <div class="modal-body" id="dialog-body">
        <p>MATLAB のコマンドを実行するリンクがクリックされました。このリンクは、Web ブラウザーでは動作しません。MATLAB コマンド ウィンドウに以下を入力すると、このコマンドを実行できます。</p>
        <pre id="dialog-matlab-command"></pre>
        <p>ドキュメント ページに戻る</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
